body{
  font-family: 'inter';
  overflow-x: hidden;
  width: 100%;
  
}

a{
  text-decoration: none;
}

.head{
  background-color: #6c774f;
  color: #fff;
}

.head .fas{
  color: #fff;
  padding-right: 0;
}

.head-word{
  font-size: 17px;
 color: #fff;
}

.head-word .fas{
  color: #212529;
}


.head-word:hover{
  color: #99b086;
}

.details-link{
  text-decoration: none;
}


.head-icon{
  float: right;
  font-size: 18px;
}

.icons{
  color: #6c774f;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    
}

.icons:hover{
  color: #99b086;

}

header .bi {
  margin-right: 5px;
}

header span {
  font-size: 14px;
}

header a:hover {
  color: black;
}

/*NAVBAR*/

.owl-carousel .item {
  position: relative;
  height: 75vh;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {

  position: absolute;
      width: 100%;
      background-color: transparent;
      transition: background-color 0.3s ease;
      z-index: 999;


}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 2px -2px gray;
}

.navbar.fixed a{
  color: #000;
}

 .navbar-toggler{
  display: none;
 }



.navbar-container {
  width: 99%;
  height: 50px;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #fff;

}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  height: 50px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-top: 18px;

}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.navbar-links a:hover{
  color: #99b086;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-info {
  color: #fff;
  margin-right: 20px;
  font-size: 0.9rem;
}

.navbar-info p {
  margin: 0;
}



.content {
  padding: 220px 20px 110px 30px;
    /* text-align: center; */
    color: #fff;
}

.owl-content{
  padding: 240px 0 200px 30px;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.content h6{
  font-size: 16px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-yellow, .btn-white {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.btn-yellow {
  background-color: #6c774f;
  color: #fff;
  border-radius: 25px;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
}

.btn-yellow:hover, .btn-white:hover {
  opacity: 0.9;
}

.btn-yellow:hover{
  background-color: #fff;
  color: #000;
}

.btn-white:hover{
  background-color: #6c774f;
  color: #fff;
}

.read-more-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
    display: inline-block;
}

.read-more-btn:hover{

  background-color: #6c774f;
  color: #fff;
}

.quote-button{
  margin-top: 0;
}

/*TOGGLE*/

.hamburger {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: none;
}

@media (max-width:1200px){
  .hamburger{
    display: block;
  }
}

.hamburger i {
  font-size: 25px;
  color:#fff;
}

.nav-offcanvas {
  width: 300px;
  background: #fff;
  height: 100vh;
  position: fixed;
  overflow-x: auto;
  z-index: 2000;
  padding: 50px 0;
  top: 0;
  right: -300px;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-offcanvas .close {
  position: absolute;
  right: 10px;
  top: 20px;
  outline: 0;
  opacity: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.nav-offcanvas .close i {
  font-size: 15px;
  color: #000;
  text-shadow: none;
}
 .nav-offcanvas .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
} 
.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-offcanvas-menu ul li a {
  color: #212529;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
}
 .nav-offcanvas-menu ul li a:hover {
   color: #6c774f; 
} 
.nav-offcanvas.open {
  right: 0;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1999;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;
}
.offcanvas-overlay.on {
  opacity: 1;
  visibility: visible;
}

.nav-offcanvas .navbar-logo{
  margin-top: -35px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.nav-offcanvas .navbar-logo img{
  height:35px;
}

.heading-icons{
 
  display: grid;
  color: #212529;
  padding-left: 25px;
  line-height: 30px;
}

.icons{
  color: #6c774f;
}

/*BANNER*/

.about-banner {
  background-image: url('assets/contactus-page/contactus-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.about-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adds dark overlay */
}

.about-banner .container {
  position: relative;
  z-index: 1;
}

.about-banner h1 {
  font-size: 48px;
  font-weight: 700;
}

.about-banner p {
  font-size: 18px;
  font-weight: 300;
}

/*CONTACT-US*/

.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 40px;
  background-color: #fff;
}

.map-container {
  width: 50%;
  height: 400px;
  margin-top: 20px;
}

.info-container {
  width: 40%;
  padding-left: 30px;
  padding-top: 20px;
}



.info-container p {
  margin-bottom: 15px;
  font-size: 16px;
}

.info-container .info-item {
  margin-bottom: 15px;
}

.contact-link:hover{
  color: #6c774f;
}



.info-container .info-item i {
  font-size: 20px;
  color: #6c774f;
  margin-right: 10px;
}

.info-container a {
  color: #333;
  text-decoration: none;
}

.info-container a:hover {
  text-decoration: underline;
}

.address{
  justify-content: center;
    display: inline-flex;
}

.address-no{
  margin-left: 5px;
}

/*ENQUIRY*/

.contacts-section {
  padding: 40px 0 ; 
}
.contacts-section h2 {
  font-size: 40px;
 font-weight: bold;
 margin-bottom: 15px;
}

.contact-subtitle{
  margin-bottom: 20px;
  color: #666666;
}

.con{
  padding-left: 40px;
}

select{
  color: grey;
}

.contacts-section .form-control,
.contacts-section .btn {
  border-radius: 0;
}
.contacts-section .quote-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*FOOTER*/
.footer {
  background-color: #282828;
  color: #fff;
  padding: 40px 0 0 0;
}
.footer h5 {
  color: #99b086;
  margin-bottom: 20px;
}
.footer-logo {
  width: 110px;
  margin-right: 10px;
}
.footer p {
  font-size: 16px;
  line-height: 1.6;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #99b086;
}
.footer .store-icon {
  width: 120px;
  margin: 10px 5px;
}
.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.symbols{
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .fas {
  color: #6c774f;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.footer-content p {
  font-size: 14px;
}

.powered-by {
  text-align: left;
  margin-left: 10px;
  padding-left: 95px;
}

.copyright {
  text-align: right;
  margin-right: 10px;
  padding-right: 95px;
}


.btn-paper{
  background-color: #99b086;
}

.btn-paper:hover{
  background-color: #6c774f;
}

.footer .fa-paper-plane{
  color: #fff;
}

.ic{
  color: #6c774f;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
  margin-right: 10px;
}

.ic:hover{
  color: #99b086;
}

.social-media 
{
  display: flex;
  gap:4px;
}

p.quick-contact
{
  display: flex;
  gap:10px;
}
p.quick-contact i 
{
  min-width: 25px;
}


/*MEDIA QUERIES*/

/*HEADER*/

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .head {
    background-color: #6c774f;
    color: #fff;
    text-align: center;
    display: none;
  }

  .head-word {
    font-size: 15px;
    }

  .head-icon {
    float: none;
    font-size: 16px;
    margin-top: 10px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 5px 0 0 5px;
  }

  

  header span {
    font-size: 12px;
  }

  
}

/* Media queries for small laptops (992px and below) */



@media (max-width: 992px) {
  .head-word {
    font-size: 16px;
  }

  .head-icon {
    font-size: 17px;
  }

  .icons {
    height: 28px;
    width: 28px;
    padding: 5px 0px 0px 5px;
  }

  header span {
    font-size: 13px;
  }

  
}

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .head-word {
    font-size: 16px;
    margin-left: 15px;
    color: #212529 !important;
  }

  .head-icon {
    font-size: 17px;
  }

  .icons {
    height: 28px;
    width: 28px;
    background-color: #6c774f;
    color: #fff;
    
  }

  header span {
    font-size: 13px;
  }

  .head{
    display: none;
  }
}

@media (max-width: 576px) {


  body{
    overflow-x: hidden;
    width: 100%;
  }

  .head {
    background-color: #6c774f;
    color: #fff;
    text-align: center;
    display: none;
  }

  .head-word {
    font-size: 14px;
  }

  .head-icon {
    float: none;
    font-size: 16px;
    margin-top: 10px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 4px 0px 0 4px;
  }

  .icons:hover {
    color: #99b086;
  }

  header .bi {
    margin-right: 2px;
  }

  header span {
    font-size: 12px;
  }

  header a:hover {
    color: black;
  }
}

@media (max-width: 480px) {
  
  
  
  .head {
    display: none;
    background-color: #6c774f;
    color: #fff;
    padding: 10px;
  }

  .head-word {
    font-size: 16px;
    font-weight: 300;
    color: #212529;
    display: block;
  }

  .head-icon {
    font-size: 16px;
    float: none; /* Prevent floating on small screens */
    text-align: center;
    margin-right: 95px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 4px 0 0 0;
  }

  header span {
    font-size: 12px;
  }
}

/*NAVBAR*/


/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {

  .content {
    padding: 160px 20px 110px 30px;
  }

  .navbar-links a{
    font-size: 14px;
  }

  .content h2 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.1rem;
  }

  .owl-content {
    padding: 200px 0 180px 20px;
  }

  .navbar-links{
    display: none;
  }

  .quote-button{
    display: none;
  }

  .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
    margin-top: 8px;
  }

  .navbar-container .navbar-toggler:hover{
    background-color: #000;
   }

  

}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {

  .content{
    padding: 150px 20px 110px 30px;
  }

  .content h6{
    font-size: 1rem ;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .owl-content {
    padding: 150px 0 150px 20px;
  }

  

  .navbar-logo img {
    height: 40px;
  }

  .navbar-container {
    height: 45px;
  }

  .navbar-links{
    margin-right: 35px;
    display: none;
  }

  .navbar-links a{
    font-size: 11px;
  }

  

  .btn-yellow {
    font-size: 12px;
  }

  .btn-white {
    font-size: 12px;
  }

  

   .quote-button{
    display: none;
   }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .content {
    padding: 150px 20px 100px 20px;
    text-align: center;
  }

  .content h2 {
    font-size: 1.8rem;
  }

  .content p {
    font-size: 1rem;
  }

  .btn-yellow, .btn-white {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-logo img {
    height: 35px;
  }

  

  .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
   }

   .navbar-container .navbar-toggler:hover{
    background-color: #000;
   }


}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .content {
    padding: 120px 10px 80px 10px;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .btn-yellow, .btn-white {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .navbar-logo img {
    height: 30px;
    padding-left: 5px;
  }

  

  /* .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
  }

  .navbar-container .navbar-toggler:hover{
    background-color: #000;
   } */


}

@media (max-width: 480px) {

  .content, .owl-content {
    padding: 120px 10px 80px 20px; /* Reduce padding */
  }

  .content h2 {
    font-size: 1.5rem; /* Smaller heading size */
  }

  .content h6, .content p {
    font-size: 14px; /* Smaller text */
  }

  .btn-yellow, .btn-white {
    padding: 8px 15px; /* Adjust button padding */
    font-size: 0.9rem; /* Smaller button text */
  }

  .navbar-container {
   height: auto;

  }

  .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-links {
    flex-direction: column; /* Stack links vertically */
    margin-top: 10px;
  }

  .navbar-links li {
    margin-left: 0;
    margin-bottom: 10px; /* Space between links */
  }

  .navbar-container .navbar-toggler{
    margin-top: 0;
  }

  .navbar-toggler {
    display: block; /* Show toggler on smaller screens */
  }

  

  .overlay {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-info {
    font-size: 0.8rem; /* Adjust navbar info text */
    margin-right: 10px;
  }
}

/*BANNER*/

/* For screens larger than 1200px */
@media (max-width: 1200px) {
  .about-banner {
    height: 280px;
  }

  .about-banner h1 {
    font-size: 42px;
  }

  .about-banner p {
    font-size: 16px;
  }
}

/* For screens between 992px and 1200px */
@media (max-width: 992px) {
  .about-banner {
    height: 250px;
  }

  .about-banner h1 {
    font-size: 38px;
  }

  .about-banner p {
    font-size: 15px;
  }
}

/* For screens between 768px and 992px */
@media (max-width: 768px) {
  .about-banner {
    height: 220px;
  }

  .about-banner h1 {
    font-size: 34px;
  }

  .about-banner p {
    font-size: 14px;
  }
}

/* For screens between 576px and 768px */
@media (max-width: 576px) {
  .about-banner {
    height: 200px;
  }

  .about-banner h1 {
    font-size: 30px;
  }

  .about-banner p {
    font-size: 13px;
  }
}

/* For screens 480px and below */
@media (max-width: 480px) {
  .about-banner {
    height: 180px;
  }

  .about-banner h1 {
    font-size: 26px;
  }

  .about-banner p {
    font-size: 12px;
  }
}

/*CONTACT-US*/

/* For screens up to 1200px */
@media (max-width: 1200px) {
  .contact-section {
    flex-direction: column;
    padding: 70px 0 35px 0;
  }
  .map-container {
    width: 100%;
    height: 350px;
    margin-top: 20px;
  }
  .info-container {
    width: 100%;
    padding-left: 5px;
    margin-top: 30px;
  }
  
  .info-container p {
    font-size: 15px;
  }

  .location2{
    display: inline-block;
    margin-left: 60px;
    margin-right: 250px;
  }

  .location3{
   display: inline-block;
  }

  .location4{
    display: inline-block;
    margin-left: 140px;
  }

  

  
}

/* For screens up to 992px */
@media (max-width: 992px) {
  .contact-section {
    padding: 65px 0 30px 0;
  }
  .map-container {
    height: 300px;
  }
  
  .info-container p {
    font-size: 14px;
  }
}

/* For screens up to 768px */
@media (max-width: 768px) {
  .contact-section {
    padding: 60px 0 25px 0;
  }
  .map-container {
    height: 280px;
  }
  
  .info-container p {
    font-size: 13px;
  }

  .location2{
    margin-left: 0;
   
  }

  .location4{
    display: block;
    margin-left: 0;
  }
}

/* For screens up to 576px */
@media (max-width: 576px) {
  .contact-section {
    padding: 50px 0 20px 0;
  }
  .map-container {
    height: 250px;
  }
  
  .info-container p {
    font-size: 12px;
  }
}

/* For screens up to 480px */
@media (max-width: 480px) {
  .contact-section {
    padding: 15px 0;
    align-items: center;
  }
  .map-container {
    height: 220px;
  }
  .info-container{
    padding: 10px;
    
  }
  
  .info-container p {
    font-size: 16px;
  }
  .address {
    
    display: block;
  }
  .info-container .info-item {
    margin-bottom: 15px;
    
  }
}

/*ENQUIRY*/

/* Up to 1200px */
@media (max-width: 1200px) {
  .contacts-section {
    padding: 35px 0;
  }
  .contacts-section h2 {
    font-size: 36px;
  }
  .con {
    padding-left: 30px;
  }
  .contacts-section .quote-box {
    padding: 35px;
  }
}

/* Up to 992px */
@media (max-width: 992px) {
  .contacts-section {
    padding: 30px 0;
  }
  .contacts-section h2 {
    font-size: 32px;
  }
  .con {
    padding-left: 20px;
  }
  .contacts-section .quote-box {
    padding: 30px;
  }
}

/* Up to 768px */
@media (max-width: 768px) {
  .contacts-section {
    padding: 25px 0;
  }
  .contacts-section h2 {
    font-size: 28px;
  }
  .contact-subtitle {
    font-size: 12px;
  }
  .con {
    padding-left: 15px;
  }
  .contacts-section .quote-box {
    padding: 25px;
  }
}

/* Up to 576px */
@media (max-width: 576px) {
  .contacts-section {
    padding: 20px 0;
  }
  .contacts-section h2 {
    font-size: 24px;
  }
  .con {
    padding-left: 10px;
  }
  .contacts-section .quote-box {
    padding: 20px;
  }
}

/* Up to 480px */
@media (max-width: 480px) {
  .contacts-section {
    padding: 15px 0;
  }
  .contacts-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .contacts-subtitle {
    font-size: 14px;
  }
  .con {
    padding-left: 5px;
  }
  .contacts-section .quote-box {
    padding: 15px;
  }
  .location2{
    margin-right: 0;
  }
}

/*FOOTER*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .footer p {
    font-size: 13px; /* Slightly reduce paragraph text size */
  }

  .footer h5 {
    margin-bottom: 15px; /* Reduce margin for headings */
  }

  .footer .store-icon {
    width: 100px; /* Reduce store icon size */
  }

  .footer .fas {
    font-size: 15px;
        
  }

  .powered-by {
    padding-left: 75px;
  }
  .copyright {
    padding-right: 75px;
  }

  .ic{
    
    font-size: 14px;
  }

  
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .footer p {
    font-size: 12px; /* Further reduce paragraph text size */
  }

  .footer .store-icon {
    width: 90px; /* Adjust store icon size for tablets */
  }

  .footer h5 {
    font-size: 16px; /* Adjust heading font size */
  }

  .footer-logo {
    width: 90px; /* Reduce logo size */
  }

  .footer .fas {
    font-size: 14px;
    
  }

  .powered-by {
    padding-left: 55px;
  }
  .copyright {
    padding-right: 55px;
  }

  
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .footer p {
    font-size: 13px; /* Reduce paragraph text size for small tablets */
    
  }

  .list-unstyled{
    text-align: center;
    font-size: 14px;
  }

  .footer-div{
    margin-left: 35px;
    margin-bottom: 10px;

  }

  .footer h5 {
    font-size: 15px; /* Reduce heading size for smaller screens */
    margin-bottom: 10px; /* Adjust spacing */
    text-align: center;
  }

  .footer-logo {
    width: 80px; /* Further reduce logo size */
  }

  .footer .store-icon {
    width: 80px; /* Adjust store icon size */
    margin: 5px 3px; /* Adjust margins for spacing */
  }

  .footer .fas {
    font-size: 14px;
   
  }

  .powered-by {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }
  .copyright {
    text-align: center;
    padding-right: 0;
    margin-right: 0;
  }

  

  
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .footer h5 {
    font-size: 14px; /* Reduce heading size for mobile */
    text-align: center; /* Center the headings */
  }

  .list-unstyled{
    text-align: center;
  }

  .footer-div{
    margin:0;
  }

  .footer a {
    padding-top: 5px;
  }

  .footer p {
    font-size: 14px; /* Further reduce paragraph text size */
    
  }

  .footer-logo {
    width: 70px; /* Adjust logo size for mobile */
    display: block; /* Ensure the logo is centered */
    margin: 0 auto 10px auto; /* Center the logo */
  }

  .footer .store-icon {
    width: 70px; /* Reduce store icon size for mobile */
    display: block;
    margin: 5px auto; /* Center the store icons */
  }

  .footer .fas {
    font-size: 14px;
    
  }

  .powered-by, .copyright {
    text-align: center;
    padding: 0;
  }

}


@media (max-width: 480px) {
  .footer h5 {
    font-size: 18px; /* Reduce heading size */
    margin-bottom: 15px; /* Adjust margin */
    text-align: left;
  }

  .footer-logo {
    width: 130px; /* Decrease logo size */
    display: inline;
  }

  .footer p {
    font-size: 14px; /* Decrease paragraph font size */
    line-height: 1.4; /* Adjust line height */
    text-align: left;
  }

  .a-tag{
    text-align: left;
  }

  .footer .store-icon {
    width: 80px; /* Reduce store icon size */

  }

  .footer-bottom {
    padding-top: 15px; /* Adjust padding */
    display: flex;
    flex-flow: column-reverse;
  }

  .footer .fas {
    font-size: 14px;
    
  }

  .powered-by{
    text-align: center !important;
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    
  }

  .copyright{
    text-align: center !important;
    font-size: 10px !important;
     margin-bottom: 5px; 
     
    padding: 0;
  }

  .btn-paper {
    padding: 8px 12px; /* Adjust button padding */
    font-size: 0.9rem; /* Adjust button font size */
  }

  .footer .fa-paper-plane {
    font-size: 1rem; /* Reduce icon size */
  }

  .footer-div{
    margin-left: 0;
  }

  

  

}


/*QUOTE- BUTTON*/

@media (max-width: 1200px) {
  .read-more-btn {
      padding: 8px 16px; /* Adjust padding */
      font-size: 0.9rem; /* Adjust font size */
      
    }
  }
  
  @media (max-width: 992px) {
  .read-more-btn {
      padding: 6px 14px; /* Adjust padding */
      font-size: 0.8rem; /* Adjust font size */
    }

    .quote-button{
      font-size: 11px;
    }
  }
  
  @media (max-width: 768px) {
  .read-more-btn {
      padding: 6px 12px; /* Adjust padding */
      font-size: 0.8rem; /* Adjust font size */
      
    }

    .quote-button{
      display: none;
    }
  }
  
  @media (max-width: 576px) {
  .read-more-btn {
      padding: 5px 10px; /* Adjust padding */
      font-size: 0.7rem; /* Adjust font size */
      
    }

    .quote-button{
      display: none;
    }
  }
  
  @media (max-width: 480px) {
  .read-more-btn {
      padding: 8px 15px; /* Adjust button padding */
      font-size: 12px; /* Adjust font size */
      margin-bottom: 10px;
      
    }

    .quote-button{
      display: none;
    }
  }
  