body{
  font-family: 'inter';
  overflow-x: hidden;
  width: 100%;
}

.head{
  background-color: #6c774f;
  color: #fff;
}

.head-word{
  font-size: 17px;
}

.head-icon{
  float: right;
  font-size: 18px;
}

.icons{
  color: #6c774f;
    background-color: white;
    height: 30px;
    width: 30px;
    padding: 6px 4px 6px 5px;
    border-radius: 50%;
}

.icons:hover{
  color: #99b086;

}

header .bi {
  margin-right: 5px;
}

header span {
  font-size: 14px;
}

header a:hover {
  color: black;
}

/* Navbar */

.owl-carousel .item {
  position: relative;
  height: 100vh;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {

  position: absolute;
      width: 100%;
      background-color: transparent;
      transition: background-color 0.3s ease;
      z-index: 999;


}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar.fixed a{
  color: #000;
}

 .navbar-toggler{
  display: none;
 }



.navbar-container {
  width: 99%;
  height: 50px;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #fff;

}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  height: 50px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-top: 18px;

}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.navbar-links a:hover{
  color: #99b086;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-info {
  color: #fff;
  margin-right: 20px;
  font-size: 0.9rem;
}

.navbar-info p {
  margin: 0;
}

.quote-btn {
  background-color: #6c774f;
  color: #fff;
  border: none;
  padding: 7px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
}

.quote-btn:hover {
  background-color: black;
  color:white ;
}

.content {
  padding: 220px 20px 110px 30px;
    /* text-align: center; */
    color: #fff;
}

.owl-content{
  padding: 240px 0 200px 30px;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.content h6{
  font-size: 16px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-yellow, .btn-white {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.btn-yellow {
  background-color: #6c774f;
  color: #fff;
  border-radius: 25px;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
}

.btn-yellow:hover, .btn-white:hover {
  opacity: 0.9;
}

.btn-yellow:hover{
  background-color: #fff;
  color: #000;
}

.btn-white:hover{
  background-color: #6c774f;
  color: #fff;
}



/*ABOUT US*/



.about-head p{
  color: #888;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0rem !important;
}

.about-head h2{
  font-weight: bold;
    font-size: 2.5rem;

}

 .content-box {
  background-color: #99b086;
  color: #000;
  margin: -33rem 23rem 0px 0;
  border-radius: 30px;
}



.content-box h2 {
  font-size: 30px;
  font-weight: 700;
}

.content-box p {
  font-size: 15px;
  font-weight: 700;
}



/*.img-fl{
  width: 300px;
  height: 450px;
  margin: 7rem 0px 0px -40px;
  border-radius: 20px;
}


.img-flu{
  width: 300px;
  height: 300px;
  margin: 0rem 0px 0px 130px;
  border-radius: 20px;
}

.img-flui{
  width: 330px;
  height: 310px;
  margin: -15.5rem 0px 0px 80px;
  border-radius: 20px;
} */

.aboutSection 
{
  display:flex;
  gap:30px;
  align-items:center;
  position:relative;
}
.aboutSection img 
{
  border-radius:20px;
  width:100%;
}
.imgbox-2 
{
  display:flex;
 flex-direction:column;
  gap:30px;
}
.content-box
{
  border-radius: 20px;
        padding: 20px;
        height: 230px;
        width: 125px;
      background-color: #99b086;
  position:absolute;
  left:0px;
  right:0px;
  margin:auto;
}

.info-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1rem;
}
.info-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.info-list li img {
  margin-right: 15px;
}
.read-more-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
    display: inline-block;
}

.read-more-btn:hover{

  background-color: #6c774f;
  color: #fff;
}

.contact-info {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  display: inline;
    padding-left: 40px;
}

.contact-info a{
  color: #000;
  text-decoration: none;
}

.contact-info a:hover{
  color: #6c774f;
  text-decoration: underline;
}

.about-icon{
  width: 40px;
  height: 40px;
}

.about-icons{
  padding-top: 70px;
  padding-left: 50px;
}

.read-about{
  padding-top: 110px;
}


/*SERVICES*/

.services-section {
  background-color: #eaefe6;
  padding: 40px 0;
}

.services-section h2 {
  font-size: 40px;
  color: #212529;
  font-weight: bold;
}
.services-section p {
  margin-bottom: 50px;
}

.service-box {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.service-box:hover{
  background-color: #99b086;
   color: white;
  transform: scale(1.05);
}

.service-box:hover .service-icon {
  background-color: white;
  color: #6c774f;
}

.service-icon {
  font-size: 40px;
  background-color: #6c774f;
  color: white;
  border-radius: 50px;
  padding: 24px 0px 0 1px;
  margin: 10px auto 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100px;
  width: 100px;
}
.service-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.service-description {
  font-size: 16px;

}

.action-buttons {
  margin-top: 40px;
  text-align: center;
}

/*PRODUCTS*/

.pro-title{
  font-size: 40px;
  font-weight: bold;
}

.product-section {
  background-color: #99b086;
  padding: 40px 0;
}

.pro-para h2 {
  color: #2d2d2d;
  font-weight: 700;
}

p.lead {
  color: #000;
}

.card {
  border: none;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.service-card img {
  border-radius: 0.375rem 0.375rem 0 0;
  object-fit: cover;
  height: 300px;
}

.pro-box{
  width: 330px;
}


.card-title {

  font-size: 18px;
  font-weight: bold;
}


.card-text {
  color: #6c757d;
}


.fas {
  color: #6c774f;
  padding-right: 5px;
}

.card-img{
  border-bottom: 5px solid #6c774f;
  height: 220px;
  object-fit: cover;
}

/*EXPORTS*/

.exports-section {
  background-color: #eaefe6;
  padding: 40px 0;
}

.exports-title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;

}
.export-card {
  border: none;
  transition: transform 0.3s ease;
}
.export-card:hover {
  transform: translateY(-10px);
   background-color: #99b086;
  color: #fff ;
}
.country-flag {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;

}

.card-text {
  margin-bottom: 10px;
}

.export-stats {
  font-size: 18px;
  font-weight: bold;

}

/*APPLICATIONS*/

#applications {
  position: relative;
  color: white;
}

.app-head{

  font-size: 40px;
  font-weight: bold;

}

.app-sub{
  font-size: 20px;
}

#applications .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#applications .container {
  position: relative;
  z-index: 2;
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}

.card-img-top {
  border-bottom: 5px solid #99b086;
  height: 220px;
  object-fit: cover;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-outline-light {
  border: 2px solid white;
  color: white;
  padding: 0.6rem 1.5rem;
}

.btn-outline-light:hover {
  background-color: white;
  color: black;
}


/*INFRASTRUCTURE*/

.timeline-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}
.timeline-title {
  text-align: center;
  margin-bottom: 60px;
}

.timeline-title h2{
  font-weight: bold;
  font-size: 2.5rem;
}

.timeline {
  position: relative;
  padding-left: 40px;
  margin-bottom: 50px;
}
.timeline::before {
  content: '';
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #6c774f;
}
.timeline-item {
  position: relative;
  margin-bottom: 50px;
}
.timeline-item::before {
  content: '';
  position: absolute;
  left: -6px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #99b086;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.timeline-content {
  margin-left: 40px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.timeline-content h4 {
  margin-bottom: 15px;
}
.timeline-content p {
  font-size: 15px;
  color: #555555;
}


/*QUALITY*/

.quality-section{
  padding: 40px 0;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #212529;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #212529;
}

.quality-detail {
  margin-bottom: 30px;
}

.progress {
  height: 1.5rem;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-radius: 10px;
}

.progress-bar {
  font-size: 0.9rem;
  line-height: 1.5rem;
  border-radius: 10px;
}

.img-fluid-quality{
    max-width: 75%;
    height: auto;
    margin-left: 100px;
}




/*CONTACT US*/

.contact-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}
.contact-section h2 {
  font-size: 40px;
 font-weight: bold;
}

.con{
  padding-left: 40px;
}

select{
  color: grey;
}



.contact-section .form-control,
.contact-section .btn {
  border-radius: 0;
}
.contact-section .quote-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Service Card Styling */
.service-card-contact {
  background: linear-gradient(135deg, #99b086, #6c774f);
  color: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
}

.service-card-contact:hover {
  background: linear-gradient(135deg, #6c774f, #99b086);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.service-card-contact .icon i {
  color: white;
  transition: color 0.4s ease;
}

.service-card-contact:hover .icon i {
  color: green;
}

.service-card-contact h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-card-contact p {
  font-size: 1rem;
  color: #f1f1f1;
  margin-bottom: 0;
}

/* Why We Are Best Styling */
.why-best-card {
  background-color: #f5f7fa;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: all 0.4s ease-in-out;
}

.why-best-card:hover {
  background-color: #eaefe6;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.why-best-card h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.why-best-card p {
  font-size: 1rem;
  color: #555;
}

.contact-frame{
  padding-top: 60px;
}

/* Icon Styling */
.icon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
}

 .c-icon{
  padding-right: 0;
}






/*FOOTER*/
.footer {
  background-color: #282828;
  color: #fff;
  padding: 40px 0;
}
.footer h5 {
  color: #99b086;
  margin-bottom: 20px;
}
.footer-logo {
  width: 110px;
  margin-right: 10px;
}
.footer p {
  font-size: 16px;
  line-height: 1.6;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #99b086;
}
.footer .store-icon {
  width: 120px;
  margin: 10px 5px;
}
.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.footer-content p {
  color: #99b086;
  font-size: 14px;
}

.powered-by {
  text-align: left;
}

.copyright {
  text-align: right;
}


.btn-paper{
  background-color: #99b086;
}

.btn-paper:hover{
  background-color: #6c774f;
}

.footer .fa-paper-plane{
  color: #fff;
}

.ic{
  color: #6c774f;
}

.ic:hover{
  color: #fff;
}



/*MEDIA QUERRIES*/

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .head {
    background-color: #6c774f;
    color: #fff;
    text-align: center;
  }

  .head-word {
    font-size: 15px;
    }

  .head-icon {
    float: none;
    font-size: 16px;
    margin-top: 10px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 5px;
  }

  header span {
    font-size: 12px;
  }
}

/* Media queries for small laptops (992px and below) */

/*HEADER*/

@media (max-width: 992px) {
  .head-word {
    font-size: 16px;
  }

  .head-icon {
    font-size: 17px;
  }

  .icons {
    height: 28px;
    width: 28px;
    padding: 5px;
  }

  header span {
    font-size: 13px;
  }
}

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .head-word {
    font-size: 16px;
    margin-left: 15px;
  }

  .head-icon {
    font-size: 17px;
  }

  .icons {
    height: 28px;
    width: 28px;
  }

  header span {
    font-size: 13px;
  }
}

@media (max-width: 576px) {


  body{
    overflow-x: hidden;
    width: 100%;
  }

  .head {
    background-color: #6c774f;
    color: #fff;
    text-align: center;
  }

  .head-word {
    font-size: 14px;
  }

  .head-icon {
    float: none;
    font-size: 16px;
    margin-top: 10px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 4px 3px;
  }

  .icons:hover {
    color: #99b086;
  }

  header .bi {
    margin-right: 2px;
  }

  header span {
    font-size: 12px;
  }

  header a:hover {
    color: black;
  }
}

@media (max-width: 480px) {
  .head {
    background-color: #6c774f;
    color: #fff;
    padding: 10px;
  }

  .head-word {
    font-size: 14px;
  }

  .head-icon {
    font-size: 16px;
    float: none; /* Prevent floating on small screens */
    text-align: center;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 4px 0 0 0;
  }

  header span {
    font-size: 12px;
  }
}


/*NAVBAR*/


/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {

  .content {
    padding: 160px 20px 110px 30px;
  }

  .navbar-links a{
    font-size: 14px;
  }

  .content h2 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.1rem;
  }

  .owl-content {
    padding: 200px 0 180px 20px;
  }

  .quote-btn {
    padding: 5px 5px;
    font-size: 0.9rem;
  }

  .navbar-toggler{
    display: none;
  }

}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {

  .content{
    padding: 150px 20px 110px 30px;
  }

  .content h6{
    font-size: 1rem ;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .owl-content {
    padding: 150px 0 150px 20px;
  }

  .quote-btn {
    padding: 7px 7px;
    font-size: 0.7rem;
  }

  .navbar-logo img {
    height: 40px;
  }

  .navbar-container {
    height: 45px;
  }

  .navbar-links{
    margin-right: 35px;
  }

  .navbar-links a{
    font-size: 12px;
  }

  .navbar-toggler{
    display: none;
  }

  .btn-yellow {
    font-size: 12px;
  }

  .btn-white {
    font-size: 12px;
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .content {
    padding: 150px 20px 100px 20px;
    text-align: center;
  }

  .content h2 {
    font-size: 1.8rem;
  }

  .content p {
    font-size: 1rem;
  }

  .btn-yellow, .btn-white {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-logo img {
    height: 35px;
  }

  .quote-btn {
    padding: 6px 14px;
    font-size: 0.8rem;
    margin-right: 15px;
  }

  .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
   }

   .navbar-container .navbar-toggler:hover{
    background-color: #000;
   }


}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .content {
    padding: 120px 10px 80px 10px;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .btn-yellow, .btn-white {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .navbar-logo img {
    height: 30px;
  }

  .quote-btn {
    padding: 5px 12px;
    font-size: 0.7rem;
    margin-right: 12px;
  }

  .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
  }

  .navbar-container .navbar-toggler:hover{
    background-color: #000;
   }


}

@media (max-width: 480px) {

  .content, .owl-content {
    padding: 120px 10px 80px 20px; /* Reduce padding */
  }

  .content h2 {
    font-size: 1.5rem; /* Smaller heading size */
  }

  .content h6, .content p {
    font-size: 14px; /* Smaller text */
  }

  .btn-yellow, .btn-white {
    padding: 8px 15px; /* Adjust button padding */
    font-size: 0.9rem; /* Smaller button text */
  }

  .navbar-container {
   height: auto;

  }

  .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-links {
    flex-direction: column; /* Stack links vertically */
    margin-top: 10px;
  }

  .navbar-links li {
    margin-left: 0;
    margin-bottom: 10px; /* Space between links */
  }

  .navbar-toggler {
    display: block; /* Show toggler on smaller screens */
  }

  .quote-btn {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  .overlay {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-info {
    font-size: 0.8rem; /* Adjust navbar info text */
    margin-right: 10px;
  }
}


/*ABOUT US*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .about-head h2 {
    font-size: 2rem;
  }

  

  .content-box h2 {
    font-size: 30px;
  }

  .content-box p {
    font-size: 12px;
  }

   /* .img-fl, .img-flu, .img-flui {
    width: 250px;
    height: auto;
  } 

  .img-fl {
    margin: 5rem 0 0 5px; 
    height: 360px;
    width: 180px;
  }

  .img-flu {
    margin: 55px 0 0 110px; 
    height: 180px;
    width: 200px;
  }

  .img-flui {
    margin: -12rem 0 0 89px; 
    height: 180px;
    width: 200px;
  } */

  .info-list {
    font-size: 1rem; /* Adjust font size */
    margin-right: 20px;
  }

  .read-more-btn {
    padding: 8px 16px; /* Adjust padding */
    font-size: 0.9rem; /* Adjust font size */
  }

  .contact-info {
    font-size: 1rem; /* Adjust font size */
    padding-left: 10px; /* Adjust padding */
  }

  .about-icons {
    padding-top: 50px; /* Adjust padding */
    padding-left: 50px; /* Adjust padding */
  }

  .read-about {
    padding-top: 80px; /* Adjust padding */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .about-head h2 {
    font-size: 1.8rem; /* Adjust heading size */
  }


  .aboutSection {
   padding-top: 110px;
 }


  .content-box{
    height: 210px;
  }


.content-box h2 {
    font-size: 30px; /* Adjust font size */
  }

  .content-box p {
    font-size: 12px; /* Adjust font size */
  }

  /* .img-fl, .img-flu, .img-flui {
    width: 200px; 
    height: auto; 
  } */

  

  /* .img-fl {
    margin: 3rem 0 0 -100px; 
    border-radius: 20px;
  }

  .img-flu {
    margin: 20px 0 0 35px; 
    border-radius: 20px;
  }

  .img-flui {
    margin: -9rem 0 0 4px; 
    border-radius: 20px;
  } */

  .info-list {
    font-size: 0.9rem; /* Adjust font size */
  }

  .read-more-btn {
    padding: 6px 14px; /* Adjust padding */
    font-size: 0.8rem; /* Adjust font size */
  }

  .contact-info {
    font-size: 0.9rem; /* Adjust font size */
    padding-left: 10px; /* Adjust padding */
  }

  .about-icons {
    padding-top: 40px; /* Adjust padding */
    padding-left: 20px; /* Adjust padding */
  }

  .read-about {
    padding-top: 60px; /* Adjust padding */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .about-head p {
    font-size: 0.8rem; /* Adjust font size */
  }

  .about-head h2 {
    font-size: 1.5rem; /* Adjust heading size */
  }

  

  

  /* .stats-box {
    margin: -30rem -3rem 0px 0; 
    padding: 10px; 
  } */

  .content-box h2 {
    font-size: 26px; /* Adjust font size */
  }

  .content-box p {
    font-size: 12px; /* Adjust font size */
  }

  /* .img-fl{
    width: 209px;
    height: 359px;
    margin: 20px;
    border-radius: 20px;
 }

 .img-flu{
   width: 184px;
   height: 170px;
   margin: -645px 0px 0px 260px;
   border-radius: 20px;
 }

 .img-flui{
   width: 194px;
   height: 180px;
   margin: -290px 0 0 260px;
   border-radius: 20px;
 } */

  .content-box
 {
   height:200px;
 }

 .aboutSection 
 {
   gap:15px;
   padding-top: 75px;
 }
 .imgbox-2 
 {
   gap:15px;
 } 

  .info-list {
    font-size: 0.9rem; /* Adjust font size */
  }

  .read-more-btn {
    padding: 6px 12px; /* Adjust padding */
    font-size: 0.8rem; /* Adjust font size */
  }

  .contact-info {
    font-size: 0.7rem; /* Adjust font size */

  }

  .about-icons {
    padding-top: 20px; /* Adjust padding */
    padding-left: 10px; /* Adjust padding */
  }

  .read-about {
    padding-top: 40px; /* Adjust padding */
    padding-left: 0px;
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {

  .aboutSection {
    padding-top: 35px;
}

  .about-head p {
    font-size: 0.7rem; /* Adjust font size */
  }

  .about-head h2 {
    font-size: 1.2rem; /* Adjust heading size */
    margin: 5px 0 25px 0;
  }

  /* .stats-box {
    margin: -30rem 0 0 0; 
    padding: 10px; 
  } */

  .content-box h2 {
    font-size: 25px; /* Adjust font size */
  }

  .content-box p {
    font-size: 11px; /* Adjust font size */
  }

  /* .img-fl{
     width: 199px;
     height: 349px;
     border-radius: 20px;
  }

  .img-flu{
    width: 174px;
    height: 160px;
    margin: -640px 0px 0px 250px;
    border-radius: 20px;
  }

  .img-flui{
    width: 184px;
    height: 170px;
    margin: -310px 0 0 260px;
    border-radius: 20px;
  } */

  .info-list {
    font-size: 0.8rem; /* Adjust font size */
  }

  .read-more-btn {
    padding: 5px 10px; /* Adjust padding */
    font-size: 0.7rem; /* Adjust font size */
  }

  .contact-info {
    font-size: 0.7rem; /* Adjust font size */
    padding-left: 0; /* Remove padding */
  }

  .about-icons {
    padding-top: 20px;
        padding-left: 50px;
  }

  .read-about {
    padding-top: 20px;
        padding-left: 50px; /* Adjust padding */
  }
}

@media (max-width: 480px) {

  .aboutSection 
 {
   padding-top: 30px;
 }

  .about-head p {
    font-size: 0.8rem; /* Adjust font size */
    margin-bottom: 10px; /* Add space at the bottom */
  }

  .about-head h2 {
    font-size: 1.8rem; /* Smaller heading size */
  }

  /* .stats-box {

    border-radius: 20px;
    padding: 20px;
    height: 230px;
    width: 125px;
  } */

  .content-box{
    height: 180px;
    width: 100px;
  }

  .content-box h2 {
    font-size: 20px; /* Adjust font size */
  }

  .content-box p {
    font-size: 10px; /* Adjust text size */
  }

  /* .img-fl{
    width: 150px;
    height: 300px;
   border-radius: 20px;
 }

 .img-flu{
   width: 174px;
   height: 150px;
   margin: -560px 0px 0px 200px;
   border-radius: 20px;
 }

 .img-flui{
   width: 184px;
   height: 170px;
   margin: -260px 0 0 205px;
   border-radius: 20px;
 } */

  .info-list {
    font-size: 0.9rem; /* Smaller list item text */
  }

  .info-list li {
    margin-bottom: 15px; /* Adjust spacing */
  }

  .read-more-btn {
    padding: 8px 15px; /* Adjust button padding */
    font-size: 0.9rem; /* Adjust font size */
  }

  .contact-info {
    font-size: 14px; /* Smaller text */
    padding-left: 20px;
  }

  .about-icon {
    width: 30px; /* Adjust icon size */
    height: 30px;
  }

  .about-icons {
    padding-left: 20px;
    padding-top: 40px; /* Adjust padding */
  }

  .read-about {
    padding-top: 60px; /* Reduce padding */
    padding-left: 0px;
  }
}


/*SERVICES*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .services-section h2 {
    font-size: 32px; /* Adjust heading size */
  }

  .services-section p {
    margin-bottom: 40px; /* Adjust bottom margin */
  }

  .service-box {
    padding: 25px; /* Adjust padding */
  }

  .service-icon {
    font-size: 35px; /* Adjust icon size */
    height: 90px;
    width: 90px;
  }

  .service-title {
    font-size: 18px; /* Adjust title size */
  }

  .service-description {
    font-size: 14px; /* Adjust description size */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .services-section h2 {
    font-size: 28px; /* Adjust heading size */
  }

  .services-section p {
    margin-bottom: 30px; /* Adjust bottom margin */
  }

  .service-box {
    padding: 20px; /* Adjust padding */
  }

  .service-icon {
    font-size: 30px; /* Adjust icon size */
    height: 80px;
    width: 80px;
  }

  .service-title {
    font-size: 16px; /* Adjust title size */
  }

  .service-description {
    font-size: 13px; /* Adjust description size */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .services-section {
    padding: 40px 0; /* Adjust padding */
  }

  .services-section h2 {
    font-size: 24px; /* Adjust heading size */
  }

  .services-section p {
    margin-bottom: 20px; /* Adjust bottom margin */
  }

  .service-box {
    padding: 15px; /* Adjust padding */
  }

  .service-icon {
    font-size: 25px; /* Adjust icon size */
    padding: 13px 0 0 0;
    height: 60px;
    width: 60px;
  }

  .service-title {
    font-size: 14px; /* Adjust title size */
  }

  .service-description {
    font-size: 12px; /* Adjust description size */
  }

  .action-buttons {
    margin-top: 30px; /* Adjust margin */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .services-section {
    padding: 20px 0; /* Adjust padding */
    max-width: 100%;
  }

  .services-section h2 {
    font-size: 20px; /* Adjust heading size */
    text-align: center; /* Center align heading */
  }

  .services-section p {
    margin-bottom: 15px; /* Adjust bottom margin */
    text-align: center; /* Center align paragraph */
    font-size: 12px;
  }

  .service-box {
    padding: 10px; /* Adjust padding */
  }

  .service-icon {
    font-size: 20px; /* Adjust icon size */
    height: 50px;
    width: 50px;
  }

  .service-title {
    font-size: 14px; /* Adjust title size */
  }

  .service-description {
    font-size: 10px; /* Adjust description size */
  }

  .action-buttons {
    margin-top: 20px; /* Adjust margin */
  }
}

@media (max-width: 480px) {
  .services-section {
    padding: 30px 0; /* Reduce padding */
  }

  .services-section h2 {
    font-size: 28px; /* Smaller heading */
  }

  .services-section p {
    margin-bottom: 30px; /* Adjust margin */
  }

  .service-box {
    padding: 20px; /* Reduce padding */
    box-shadow: none; /* Remove shadow on smaller screens */
  }

  .service-icon {
    font-size: 30px; /* Smaller icon */
    height: 80px;
    width: 80px;
    padding: 20px 0px 0 1px; /* Adjust padding */
  }

  .service-title {
    font-size: 18px; /* Smaller title */
  }

  .service-description {
    font-size: 14px; /* Adjust text size */
  }

  .action-buttons {
    margin-top: 20px; /* Reduce margin */
  }
}


/*PRODUCTS*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .service-card img {
    height: 250px; /* Adjust image height */
  }

  .pro-box {
    width: 300px; /* Adjust box width */
  }

  .card-title {
    font-size: 16px; /* Adjust title size */
  }

  .card-text {
    font-size: 14px; /* Adjust text size */
  }

  .pro-para h2 {
    font-size: 30px;
  }

  p.lead {
    font-size: 16px;
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .service-card img {
    height: 220px; /* Adjust image height */
  }

  .pro-row{
    margin-left: 50px;
  }

  .card-title {
    font-size: 15px; /* Adjust title size */
  }

  .card-text {
    font-size: 13px; /* Adjust text size */
  }

  .pro-para h2 {
    font-size: 25px;
  }

  p.lead {
    font-size: 14px;
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .product-section {
    padding: 40px 0; /* Adjust padding */
  }

  .pro-para h2 {
    font-size: 20px; /* Adjust heading size */
  }

  p.lead{
    font-size: 12px;
  }

  .service-card img {
    height: 200px; /* Adjust image height */
  }

  .pro-box {
    width: 220px; /* Adjust box width */

  }

  .card-title {
    font-size: 14px; /* Adjust title size */
  }

  .card-text {
    font-size: 12px; /* Adjust text size */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .product-section {
    padding: 20px 0; /* Adjust padding */
  }

  .pro-para h2 {
    font-size: 14px; /* Adjust heading size */
    text-align: center; /* Center heading */
  }

  p.lead{
    font-size: 12px;
  }

  .service-card img {
    height: 180px; /* Adjust image height */
  }

  .pro-box {
    width: 100%; /* Full width for mobile */
    padding: 0 10px; /* Adjust padding */
    margin-left: -30px;
  }

  .card-title {
    font-size: 13px; /* Adjust title size */
  }

  .card-text {
    font-size: 14px; /* Adjust text size */
  }
}

@media (max-width: 480px) {
  .pro-title {
    font-size: 28px; /* Smaller title */
  }

  .product-section {
    padding: 20px; /* Add padding for small screens */
  }

  .pro-para h2 {
    font-size: 22px; /* Adjust heading size */
  }

  p.lead {
    font-size: 14px; /* Smaller text */
  }

  .service-card img {
    height: 200px; /* Reduce image height */
  }

  .pro-box {
    width: 100%; /* Full width */
  }

  .card-title {
    font-size: 16px; /* Adjust title size */
  }

  .card-text {
    font-size: 14px; /* Adjust text size */
  }

  .card-img {
    height: 180px; /* Adjust image height */
  }
}


/*EXPORTS*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .exports-title {
    font-size: 36px; /* Adjust title size */
  }

  .country-flag {
    height: 160px; /* Adjust flag image height */
  }

  .card-title {
    font-size: 20px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 16px; /* Adjust stats font size */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .exports-title {
    font-size: 32px; /* Adjust title size */
  }

  .country-flag {
    height: 140px; /* Adjust flag image height */
  }

  .card-title {
    font-size: 18px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 15px; /* Adjust stats font size */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .exports-section {
    padding: 50px 0; /* Adjust padding */
  }

  .exports-title {
    font-size: 28px; /* Adjust title size */
  }

  .country-flag {
    height: 120px; /* Adjust flag image height */
  }

  .card-title {
    font-size: 16px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 14px; /* Adjust stats font size */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .exports-section {
    padding: 30px 0; /* Adjust padding */
  }

  .exports-title {
    font-size: 24px; /* Adjust title size */
    text-align: center; /* Center align title */
  }

  .country-flag {
    height: 100px; /* Adjust flag image height */
  }

  .card-body {
    padding: 15px; /* Adjust card body padding */
  }

  .card-title {
    font-size: 14px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 12px; /* Adjust stats font size */
  }
}

@media (max-width: 480px) {

  .exports-section {
    padding: 40px 0; /* Reduce padding */
  }

  .exports-title {
    font-size: 28px; /* Smaller title */
    margin-bottom: 30px; /* Adjust margin */
  }

  .export-card {
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .country-flag {
    height: 150px; /* Reduce image height */
  }

  .card-body {
    padding: 15px; /* Adjust padding */
  }

  .card-title {
    font-size: 18px; /* Smaller font size */
    margin-bottom: 10px; /* Adjust margin */
  }

  .card-text {
    font-size: 14px; /* Smaller text */
  }

  .export-stats {
    font-size: 16px; /* Adjust font size */
  }
}



/*APPLICATIONS*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .app-head {
    font-size: 36px; /* Adjust heading size */
  }

  .app-sub {
    font-size: 18px; /* Adjust subtitle size */
  }

  .card-img-top {
    height: 200px; /* Adjust image height */
  }

  .card-title {
    font-size: 1.2rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.5rem 1.3rem; /* Adjust button padding */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .app-head {
    font-size: 32px; /* Adjust heading size */
  }

  .app-sub {
    font-size: 16px; /* Adjust subtitle size */
  }

  .card-img-top {
    height: 180px; /* Adjust image height */
  }

  .card-title {
    font-size: 1.1rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.5rem 1.2rem; /* Adjust button padding */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .app-head {
    font-size: 28px; /* Adjust heading size */
  }

  .app-sub {
    font-size: 16px; /* Adjust subtitle size */
  }

  .card-img-top {
    height: 160px; /* Adjust image height */
  }

  .card-title {
    font-size: 1rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.4rem 1rem; /* Adjust button padding */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  #applications {
    padding: 20px 0; /* Adjust padding */
  }

  .app-head {
    font-size: 24px; /* Adjust heading size */
    text-align: center; /* Center heading */
  }

  .app-sub {
    font-size: 14px; /* Adjust subtitle size */
    text-align: center; /* Center subtitle */
  }

  .card-img-top {
    height: 140px; /* Adjust image height */
  }

  .card-title {
    font-size: 0.9rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.3rem 0.8rem; /* Adjust button padding */
  }
}

@media (max-width: 480px) {
  #applications {
    padding: 20px; /* Add padding for small screens */
  }

  .app-head {
    font-size: 28px; /* Smaller font size for heading */
  }

  .app-sub {
    font-size: 16px; /* Adjust font size */
  }

  .service-card {
    margin-bottom: 20px; /* Add margin between cards */
  }

  .card-img-top {
    height: 180px; /* Reduce image height */
  }

  .card-title {
    font-size: 1.1rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.4rem 1rem; /* Adjust button padding */
    font-size: 14px; /* Adjust button font size */
  }
}



/*INFRASTRUCTURE*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .timeline-title h2 {
    font-size: 2.2rem; /* Reduce title size */
  }

  .timeline-content {
    padding: 25px; /* Reduce padding */
  }

  .timeline-content h4 {
    font-size: 1.25rem; /* Adjust heading size */
  }

  .timeline-content p {
    font-size: 14px; /* Adjust paragraph size */
  }
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .timeline-title h2 {
    font-size: 2rem; /* Reduce title size */
  }

  .timeline {
    padding-left: 30px; /* Adjust timeline padding */
  }

  .timeline::before {
    left: 14px; /* Adjust timeline line position */
    width: 3px; /* Reduce line thickness */
  }

  .timeline-item::before {
    left: -8px; /* Adjust marker position */
    width: 18px; /* Adjust marker size */
    height: 18px;
  }

  .timeline-content {
    margin-left: 30px; /* Adjust content margin */
    padding: 20px; /* Reduce padding */
  }
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .timeline-title h2 {
    font-size: 1.8rem; /* Reduce title size */
  }

  .timeline {
    padding-left: 25px; /* Reduce padding for smaller screens */
  }

  .timeline::before {
    left: 10px; /* Adjust line position */
    width: 2px; /* Further reduce line thickness */
  }

  .timeline-item::before {
    left: -10px; /* Adjust marker position */
    width: 16px; /* Adjust marker size */
    height: 16px;
  }

  .timeline-content {
    margin-left: 20px; /* Further reduce content margin */
    padding: 15px; /* Reduce padding */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .timeline-title h2 {
    font-size: 1.5rem; /* Adjust title size for mobile */
    text-align: center; /* Center-align title */
  }

  .timeline {
    padding-left: 10px; /* Further reduce timeline padding */
  }

  .timeline::before {
    left: 8px; /* Adjust line position */
    width: 2px; /* Keep line thin */
  }

  .timeline-item {
    margin-bottom: 30px; /* Reduce spacing between items */
  }

  .timeline-item::before {
    left: 3px; /* Adjust marker position */
    width: 14px; /* Reduce marker size */
    height: 14px;
  }

  .timeline-content {
    margin-left: 20px; /* Reduce margin for mobile */
    padding: 10px; /* Minimize padding */
  }

  .timeline-content h4 {
    font-size: 1rem; /* Adjust content heading size */
  }

  .timeline-content p {
    font-size: 13px; /* Reduce paragraph size */
  }
}

@media (max-width: 480px) {
  .timeline-section {
    padding: 30px 0; /* Reduce padding */
  }

  .timeline-title h2 {
    font-size: 1.8rem; /* Adjust font size for the title */
  }

  .timeline {
    padding-left: 20px; /* Reduce left padding */
  }

  .timeline::before {
    left: 10px; /* Adjust position of the vertical line */
    width: 2px; /* Narrow the vertical line */
  }

  .timeline-item::before {
    left: -4px; /* Adjust position of timeline bullet */
    width: 15px; /* Adjust size of the bullet */
    height: 15px;
  }

  .timeline-content {
    margin-left: 20px; /* Reduce the left margin for timeline content */
    padding: 20px; /* Reduce padding */
  }

  .timeline-content h4 {
    font-size: 1.2rem; /* Adjust font size */
  }

  .timeline-content p {
    font-size: 14px; /* Adjust paragraph font size */
  }
}


/*QUALITY*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .section-title {
    font-size: 2.2rem; /* Reduce title size */
  }

  .section-subtitle {
    font-size: 1.1rem; /* Reduce subtitle size */
  }

  .img-fluid-quality {
    max-width: 70%;
        margin-left: 70px;
        margin-top: 100px;
  }
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .section-title {
    font-size: 2rem; /* Further reduce title size */
  }

  .section-subtitle {
    font-size: 1rem; /* Further reduce subtitle size */
  }

  .progress {
    height: 1.25rem; /* Adjust progress bar height */
  }

  .progress-bar {
    font-size: 0.85rem; /* Adjust progress bar text size */
  }

  .img-fluid-quality {
    max-width: 80%;
        margin-left: 50px;
        margin-top: 90px;
  }
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem; /* Further reduce title size for smaller screens */
  }

  .section-subtitle {
    font-size: 0.95rem; /* Reduce subtitle size */
  }

  .progress {
    height: 1.2rem; /* Further reduce progress bar height */
  }

  .progress-bar {
    font-size: 0.8rem; /* Further reduce progress bar text size */
  }

  .img-fluid-quality {
    max-width: 80%;
        margin-left: 50px; /* Adjust margin for smaller screens */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .section-title {
    font-size: 1.5rem; /* Adjust title size for mobile */
    text-align: center; /* Center the title */
  }

  .section-subtitle {
    font-size: 0.9rem; /* Adjust subtitle size */
    text-align: center; /* Center the subtitle */
  }

  .quality-detail {
    margin-bottom: 20px; /* Reduce spacing between details */
  }

  .progress {
    height: 1rem; /* Further reduce progress bar height */
  }

  .progress-bar {
    font-size: 0.75rem; /* Further reduce progress bar text */
  }

  .img-fluid-quality {
    max-width: 85%; /* Adjust image size for mobile */
    margin-left: 40px; /* Reduce left margin */
  }
}

@media only screen and (max-width: 480px) {
  .section-title {
    font-size: 1.8rem; /* Reduce the font size of the title */
  }

  .section-subtitle {
    font-size: 1rem; /* Adjust subtitle font size */
  }

  .quality-detail {
    margin-bottom: 20px; /* Reduce bottom margin */
  }

  .progress {
    height: 1.2rem; /* Decrease height of the progress bar */
  }

  .progress-bar {
    font-size: 0.8rem; /* Adjust font size inside the progress bar */
  }

  .img-fluid-quality {
    max-width: 100%; /* Ensure the image takes full width */
    margin-left: 0; /* Remove margin for better centering */
  }
}




/*CONTACT US*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .contact-section h2 {
    font-size: 36px; /* Reduce heading size */
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.4rem; /* Adjust heading size */
  }

  .contact-frame {
    padding-top: 50px; /* Adjust padding for better spacing */
  }
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .contact-section h2 {
    font-size: 32px; /* Reduce heading size further */
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.3rem; /* Adjust heading size for tablets */
  }

  .contact-frame {
    padding-top: 40px; /* Reduce padding */
  }

  .con {
    padding-left: 20px; /* Adjust padding for contact form */
  }

  .service-card-contact,
  .why-best-card {
    padding: 25px; /* Reduce padding in cards */
  }
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 28px; /* Reduce heading size for smaller screens */
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.2rem; /* Adjust heading size for small tablets */
  }

  .service-card-contact p,
  .why-best-card p {
    font-size: 0.9rem; /* Adjust paragraph text size */
  }

  .con {
    padding-top: 20px; /* Further adjust padding */
  }

  .contact-frame {
    padding-top: 30px; /* Reduce padding */
  }

  .service-card-contact,
  .why-best-card {
    padding: 20px; /* Reduce card padding */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .contact-section h2 {
    font-size: 24px; /* Reduce heading size for mobile */
    text-align: center; /* Center the heading */
  }

  .contact-section p{
    text-align: center;
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.1rem; /* Adjust heading size for mobile */
    text-align: center; /* Center card headings */
  }

  .service-card-contact p,
  .why-best-card p {
    font-size: 0.85rem; /* Reduce paragraph text size */
  }

  .service-card-contact {
    margin-bottom: 20px; /* Add spacing between cards */
  }

  .con {
    padding-left: 10px; /* Remove padding for small screens */
  }

  .contact-frame {
    padding-top: 20px; /* Further reduce padding */
  }

  .service-card-contact,
  .why-best-card {
    padding: 15px; /* Adjust padding for mobile */
  }
}

@media (max-width: 480px) {
  .contact-section {
    padding: 30px 0; /* Adjust padding for smaller screens */
  }

  .contact-section h2 {
    font-size: 28px; /* Reduce heading size */
  }

  .con {
    padding-left: 15px; /* Reduce padding */
  }

  .contact-section .quote-box {
    padding: 20px; /* Reduce padding in the quote box */
  }

  .service-card-contact {
    border-radius: 10px; /* Adjust border radius for smaller cards */
    padding: 20px; /* Adjust padding */
  }

  .service-card-contact h5 {
    font-size: 1.2rem; /* Decrease heading size */
  }

  .service-card-contact p {
    font-size: 0.9rem; /* Adjust paragraph font size */
  }

  .why-best-card {
    padding: 20px; /* Reduce padding in the card */
    border-radius: 10px; /* Adjust border radius */
  }

  .why-best-card h5 {
    font-size: 1.2rem; /* Adjust font size */
  }

  .why-best-card p {
    font-size: 0.9rem; /* Adjust paragraph font size */
  }

  .contact-frame {
    padding-top: 30px; /* Reduce top padding */
  }

  .icon {
    padding: 10px; /* Reduce padding for icons */
  }

  .c-icon {
    padding-right: 0; /* Keep icon layout consistent */
  }
}




/*FOOTER*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .footer p {
    font-size: 13px; /* Slightly reduce paragraph text size */
  }

  .footer h5 {
    margin-bottom: 15px; /* Reduce margin for headings */
  }

  .footer .store-icon {
    width: 100px; /* Reduce store icon size */
  }

  
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .footer p {
    font-size: 12px; /* Further reduce paragraph text size */
  }

  .footer .store-icon {
    width: 90px; /* Adjust store icon size for tablets */
  }

  .footer h5 {
    font-size: 16px; /* Adjust heading font size */
  }

  .footer-logo {
    width: 90px; /* Reduce logo size */
  }

  
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .footer p {
    font-size: 13px; /* Reduce paragraph text size for small tablets */
    text-align: center;
  }

  .list-unstyled{
    text-align: center;
    font-size: 14px;
  }

  .footer-div{
    margin-left: 35px;
    margin-bottom: 10px;

  }

  .footer h5 {
    font-size: 15px; /* Reduce heading size for smaller screens */
    margin-bottom: 10px; /* Adjust spacing */
    text-align: center;
  }

  .footer-logo {
    width: 80px; /* Further reduce logo size */
  }

  .footer .store-icon {
    width: 80px; /* Adjust store icon size */
    margin: 5px 3px; /* Adjust margins for spacing */
  }

  
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .footer h5 {
    font-size: 14px; /* Reduce heading size for mobile */
    text-align: center; /* Center the headings */
  }

  .list-unstyled{
    text-align: center;
  }

  .footer-div{
    margin:0;
  }

  .footer a {
    padding-top: 5px;
  }

  .footer p {
    font-size: 14px; /* Further reduce paragraph text size */
    text-align: center; /* Center paragraph text */
  }

  .footer-logo {
    width: 70px; /* Adjust logo size for mobile */
    display: block; /* Ensure the logo is centered */
    margin: 0 auto 10px auto; /* Center the logo */
  }

  .footer .store-icon {
    width: 70px; /* Reduce store icon size for mobile */
    display: block;
    margin: 5px auto; /* Center the store icons */
  }

  

  

  
}


@media (max-width: 480px) {
  .footer h5 {
    font-size: 18px; /* Reduce heading size */
    margin-bottom: 15px; /* Adjust margin */
    text-align: left;
  }

  .footer-logo {
    width: 80px; /* Decrease logo size */
  }

  .footer p {
    font-size: 14px; /* Decrease paragraph font size */
    line-height: 1.4; /* Adjust line height */
    text-align: left;
  }

  .a-tag{
    text-align: left;
  }

  .footer .store-icon {
    width: 80px; /* Reduce store icon size */

  }

  .footer-bottom {
    padding-top: 15px; /* Adjust padding */
  }

  .powered-by{
    text-align: center !important;
    font-size: 10px !important;
  }

  .copyright{
    text-align: center !important;
    font-size: 10px !important;
  }

  

  .btn-paper {
    padding: 8px 12px; /* Adjust button padding */
    font-size: 0.9rem; /* Adjust button font size */
  }

  .footer .fa-paper-plane {
    font-size: 1rem; /* Reduce icon size */
  }

  .footer-div{
    margin-left: 0;
  }

  


}








