.head{
  background-color: #ffc527;
  color: black;
  
}

.head-word{
  font-size: 16px;
}

.head-icon{
  float: right;
  font-size: 16px;
}

header .bi {
  margin-right: 5px;
}

header span {
  font-size: 14px;
}

header a:hover {
  color: #ddd;
}



/* Navbar */

.navbar{
  width:100%;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: 1px;
}


