body{
  font-family: 'inter';
  overflow-x: hidden;
  width: 100%;
}

.head{
  background-color: #6c774f;
  color: #fff;
}

.head-word{
  font-size: 17px;
}

.head-icon{
  float: right;
  font-size: 18px;
}

.icons{
  color: #6c774f;
    background-color: white;
    height: 30px;
    width: 30px;
    padding: 6px 4px 6px 5px;
    border-radius: 50%;
}

.icons:hover{
  color: #99b086;

}

header .bi {
  margin-right: 5px;
}

header span {
  font-size: 14px;
}

header a:hover {
  color: black;
}

/* Navbar */

.owl-carousel .item {
  position: relative;
  height: 75vh;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {

  position: absolute;
      width: 100%;
      background-color: transparent;
      transition: background-color 0.3s ease;
      z-index: 999;


}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 2px -2px gray;
}

.navbar.fixed a{
  color: #000;
}

 .navbar-toggler{
  display: none;
 }



.navbar-container {
  width: 99%;
  height: 50px;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #fff;

}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  height: 50px;
  margin-right: 10px;
  padding-left: 4px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin-top: 18px;

}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.navbar-links a:hover{
  color: #99b086;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-info {
  color: #fff;
  margin-right: 20px;
  font-size: 0.9rem;
}

.navbar-info p {
  margin: 0;
}



.content {
  padding: 220px 20px 110px 30px;
    /* text-align: center; */
    color: #fff;
}

.owl-content{
  padding: 240px 0 200px 30px;
}

.content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.content h6{
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn-yellow, .btn-white {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  display: inline-block;
}

.btn-yellow {
  background-color: #6c774f;
  color: #fff;
  border-radius: 25px;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  margin-left: 10px;
}

.btn-yellow:hover, .btn-white:hover {
  opacity: 0.9;
}

.btn-yellow:hover{
  background-color: #fff;
  color: #000;
}

.btn-white:hover{
  background-color: #6c774f;
  color: #fff;
}

/*TOGGLE*/

.hamburger {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  display: none;
}

@media (max-width:1200px){
  .hamburger{
    display: block;
  }
}

.hamburger i {
  font-size: 25px;
  color:#fff;
}

.nav-offcanvas {
  width: 300px;
  background: #fff;
  height: 100vh;
  position: fixed;
  overflow-x: auto;
  z-index: 2000;
  padding: 50px 0;
  top: 0;
  right: -300px;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-offcanvas .close {
  position: absolute;
  right: 10px;
  top: 20px;
  outline: 0;
  opacity: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.nav-offcanvas .close i {
  font-size: 15px;
  color: #000;
  text-shadow: none;
}
 .nav-offcanvas .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
} 
.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-offcanvas-menu ul li a {
  color: #212529;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
}
 .nav-offcanvas-menu ul li a:hover {
   color: #6c774f; 
} 
.nav-offcanvas.open {
  right: 0;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1999;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;
}
.offcanvas-overlay.on {
  opacity: 1;
  visibility: visible;
}

.nav-offcanvas .navbar-logo{
  margin-top: -35px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.nav-offcanvas .navbar-logo img{
  height:35px;
}

.heading-icons{
  display: grid;
  color: #212529;
  bottom: 60px;
  padding-left: 25px;
  line-height: 30px;
}





/*ABOUT US*/

/* .about-head p{
  color: #888;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0rem !important;
}

.about-head h2{
  font-weight: bold;
    font-size: 2.5rem;

} */

 .installation-section{
  padding: 40px 40px 50px 40px;
 }

 .content-box {
  background-color: #99b086;
  color: #000;
  margin: -33rem 23rem 0px 0;
  border-radius: 30px;
}



.content-box h2 {
  font-size: 30px;
  font-weight: 700;
}

.content-box p {
  font-size: 15px;
  font-weight: 700;
}

.aboutSection 
{
  display:flex;
  gap:30px;
  align-items:center;
  position:relative;
}
.aboutSection img 
{
  border-radius:20px;
  width:100%;
}
.imgbox-2 
{
  display:flex;
 flex-direction:column;
  gap:30px;
}
.content-box
{
  border-radius: 20px;
        padding: 20px;
        height: 230px;
        width: 125px;
      background-color: #99b086;
  position:absolute;
  left:0px;
  right:0px;
  margin:auto;
}

.about-para{
  padding-left: 25px;
  margin-top: 50px;
}


.about-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #4a6437; /* dark green color */
  text-align: left;
}

.about-subheading {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4a6437; /* same dark green color */
  margin-bottom: 20px;
  margin-left: 5px;
}

.about-text {
  font-size: 1rem;
  color: #212529;
  margin-bottom: 15px;
  margin-left: 5px;
}

.about-highlight {
  font-size: 1rem;
  font-weight: bold;
  color: #4a6437; /* dark green for highlight text */
  margin-left: 5px;
}

strong {
  color: #000; /* black bold text for emphasis */
}



.read-more-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
    display: inline-block;
}

.read-more-btn:hover{

  background-color: #6c774f;
  color: #fff;
}

.button{
  background-color: #fff;
  color: black;
}

.quote-button{
  margin-top: 0;
}

.contact-info {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  
    
}

.contact-info a{
  color: #000;
  text-decoration: none;
}

.contact-info a:hover{
  color: #6c774f;
  text-decoration: underline;
}

.read-about{
  padding-top: 25px;
  padding-left: 15px;
}


/*SERVICES*/

.services-section {
  background-color: #eaefe6;
  padding: 40px 0;
}

.services-section h2 {
  font-size: 40px;
  color: #212529;
  font-weight: bold;
  margin-bottom: 15px;
}
.services-section p {
  margin-bottom: 20px;
}

.service-box {
  background-color: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: 100%;
}

.service-box:hover{
  background-color: #99b086;
   color: white;
  transform: scale(1.05);
}

.service-box:hover .service-icon {
  background-color: white;
  color: #6c774f;
}

.service-icon {
  font-size: 40px;
  background-color: #6c774f;
  color: white;
  border-radius: 50px;
  padding: 24px 0px 0 1px;
  margin: 10px auto 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100px;
  width: 100px;
}
.service-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.service-description {
  font-size: 16px;

}

.action-buttons {
  margin-top: 40px;
  text-align: center;
}

/*PRODUCTS*/

.pro-title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-section {
  background-color: #99b086;
  padding: 40px 0;
}



p.lead {
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

.card {
  border: none;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.service-card img {
  border-radius: 0.375rem 0.375rem 0 0;
  object-fit: cover;
  height: 300px;
}

.pro-box{
  margin-bottom: 20px;
}


.card-title {

  font-size: 18px;
  font-weight: bold;
}

.fas {
  color: #6c774f;
  padding-right: 5px;
}

.card-img{
  border-bottom: 5px solid #6c774f;
  height: 220px;
  object-fit: cover;
}

.products-btn{
  margin-top: 40px;
}

/*EXPORTS*/

.exports-section {
  background-color: #eaefe6;
  padding: 40px 0;
}

.exports-title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.exports-section p.lead {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.export-card {
  border: none;
  transition: transform 0.3s ease;
}
.export-card:hover {
  transform: translateY(-10px);
   background-color: #99b086;
  color: #fff ;
}


.country-flag {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.exports-section .card-body {
  padding: 20px;
  text-align: center;
}

.exports-section .card-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;

}

.card-text {
  margin-bottom: 10px;
}

.export-stats {
  font-size: 18px;
  font-weight: bold;

}

/*APPLICATIONS*/

#applications {
  position: relative;
  color: white;
}

#applications .container{
  z-index: 2;
}

.app-head{

  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;

}

.app-des{
  margin-bottom: 20px;
}

/* .app-sub{
  font-size: 20px;
} */

#applications .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}



.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
  height: 100%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}

.card-img-top {
  border-bottom: 5px solid #99b086;
  height: 220px;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.btn-outline-light {
  border: 2px solid white;
  color: white;
  padding: 0.6rem 1.5rem;
}

.btn-outline-light:hover {
  background-color: white;
  color: black;
}

#applications .card-text {
  color: #fff;
}

#applications .card-body {
  padding: 20px;
  text-align: center;
}

/*INFRASTRUCTURE*/

.timeline-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}
.timeline-title {
  text-align: center;
  
}

.timeline-title h2{
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.timeline-title p{
  margin-bottom: 20px;
}

.infrastructure-card {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.infrastructure-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.icon-box {
  font-size: 40px;
  color: #f39c12;
}

.timeline-section .title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  color: #333;
}

.timeline-section .description {
  font-size: 16px;
  color: #555555;
}



/*QUALITY*/

.quality-section {
  background-color: #eaefe6;
  padding: 40px 0;
}

.quality-section .section-title {
  font-size: 2.5rem;
  color: #212529;
  margin-bottom: 15px;
}

.quality-section .section-description {
  font-size: 1rem;
  color: #555555;
  margin-bottom: 20px;
}

.quality-section .card {
  border: none;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.quality-section .card:hover {
  transform: translateY(-10px);
}

.quality-section .card-title {
  font-size: 20px;
  color: #212529;
  font-weight: 600;
}

.quality-section .card-text {
  color: #555;
}

.quality-section .card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.quality-section .img-fluid {
  margin-top: 20px;
}




/*CONTACT US*/

/* .contact-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}
.contact-section h2 {
  font-size: 40px;
 font-weight: bold;
}

.con{
  padding-left: 40px;
}

select{
  color: grey;
}



.contact-section .form-control,
.contact-section .btn {
  border-radius: 0;
}
.contact-section .quote-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.service-card-contact {
  background: linear-gradient(135deg, #99b086, #6c774f);
  color: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease-in-out;
}

.service-card-contact:hover {
  background: linear-gradient(135deg, #6c774f, #99b086);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.service-card-contact .icon i {
  color: white;
  transition: color 0.4s ease;
}

.service-card-contact:hover .icon i {
  color: green;
}

.service-card-contact h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-card-contact p {
  font-size: 1rem;
  color: #f1f1f1;
  margin-bottom: 0;
}


.why-best-card {
  background-color: #f5f7fa;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: all 0.4s ease-in-out;
}

.why-best-card:hover {
  background-color: #eaefe6;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.why-best-card h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.why-best-card p {
  font-size: 1rem;
  color: #555;
}

.contact-frame{
  padding-top: 60px;
}


.icon {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
}

 .c-icon{
  padding-right: 0;
} */


/*OUR CLIENTELE*/

.clients-section {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #212529;
  margin-bottom: 15px;
}

.section-subtitle {
  font-size: 16px;
  color: #555555;
  margin-bottom: 20px;
}

.clients-section .owl-carousel .item img {
  display: block;
  height: auto;
}

.clients-section .owl-carousel .item {
  position: relative;
  
}

.clients-section .owl-carousel .item{
  height: unset;
  padding: 20px;
}

/* .clients-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slide {
  min-width: 200px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  max-width: 100px;
  height: auto;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1));
} */



/* Automatic sliding animation */
/* @keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.clients-slider {
  display: flex;
  animation: slideAnimation 20s linear infinite;
} */



/*FOOTER*/
.footer {
  background-color: #282828;
  color: #fff;
  padding: 40px 0 0 0;
}
.footer h5 {
  color: #99b086;
  margin-bottom: 20px;
}
.footer-logo {
  width: 110px;
  margin-right: 10px;
}
.footer p {
  font-size: 16px;
  line-height: 1.6;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #99b086;
}
.footer .store-icon {
  width: 120px;
  margin: 10px 5px;
}
.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.symbols{
  font-size: 14px;
  padding: 6px 0 0 5px;
}

.footer .fas {
  color: #6c774f;
  padding-right: 5px;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.footer-content p {
  font-size: 14px;
}

.powered-by {
  text-align: left;
  margin-left: 10px;
  padding-left: 95px;
}

.copyright {
  text-align: right;
  margin-right: 10px;
  padding-right: 95px;
}


.btn-paper{
  background-color: #99b086;
}

.btn-paper:hover{
  background-color: #6c774f;
}

.footer .fa-paper-plane{
  color: #fff;
}

.ic{
  color: #6c774f;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 4px 0 0 3px;
  margin-left: 10px;
}

.ic:hover{
  color: #fff;
}



/*MEDIA QUERRIES*/

/*HEADER*/

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .head {
    background-color: #6c774f;
    color: #fff;
    text-align: center;
    display: none;
  }

  .head-word {
    font-size: 15px;
    }

  .head-icon {
    float: none;
    font-size: 16px;
    margin-top: 10px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 5px 0 0 5px;
  }

  

  header span {
    font-size: 12px;
  }

  .ic{
    padding: 5px 0 0 0 !important;
  }
}

/* Media queries for small laptops (992px and below) */



@media (max-width: 992px) {
  .head-word {
    font-size: 16px;
  }

  .head-icon {
    font-size: 17px;
  }

  .icons {
    height: 28px;
    width: 28px;
    padding: 5px 0px 0px 5px;
  }

  header span {
    font-size: 13px;
  }

  
}

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .head-word {
    font-size: 16px;
    margin-left: 15px;
  }

  .head-icon {
    font-size: 17px;
  }

  .icons {
    height: 28px;
    width: 28px;
    background-color: #6c774f;
    color: #fff;
    padding: 5px 0 0 5px;
  }

  header span {
    font-size: 13px;
  }

  .head{
    display: none;
  }
}

@media (max-width: 576px) {


  body{
    overflow-x: hidden;
    width: 100%;
  }

  .head {
    background-color: #6c774f;
    color: #fff;
    text-align: center;
    display: none;
  }

  .head-word {
    font-size: 14px;
  }

  .head-icon {
    float: none;
    font-size: 16px;
    margin-top: 10px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 4px 0px 0 4px;
  }

  .icons:hover {
    color: #99b086;
  }

  header .bi {
    margin-right: 2px;
  }

  header span {
    font-size: 12px;
  }

  header a:hover {
    color: black;
  }
}

@media (max-width: 480px) {
  
  
  
  .head {
    display: none;
    background-color: #6c774f;
    color: #fff;
    padding: 10px;
  }

  .head-word {
    font-size: 16px;
    font-weight: 300;
    color: #212529;
    display: block;
  }

  .head-icon {
    font-size: 16px;
    float: none; /* Prevent floating on small screens */
    text-align: center;
    margin-right: 95px;
  }

  .icons {
    height: 25px;
    width: 25px;
    padding: 4px 0 0 0;
  }

  header span {
    font-size: 12px;
  }
}


/*NAVBAR*/


/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {

  .content {
    padding: 160px 20px 110px 30px;
  }

  .navbar-links a{
    font-size: 14px;
  }

  .content h2 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.1rem;
  }

  .owl-content {
    padding: 200px 0 180px 20px;
  }

  .navbar-links{
    display: none;
  }

  .quote-button{
    display: none;
  }

  .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
    margin-top: 8px;
  }

  .navbar-container .navbar-toggler:hover{
    background-color: #000;
   }

  

}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {

  .content{
    padding: 150px 20px 110px 30px;
  }

  .content h6{
    font-size: 1rem ;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .owl-content {
    padding: 150px 0 150px 20px;
  }

  

  .navbar-logo img {
    height: 40px;
  }

  .navbar-container {
    height: 45px;
  }

  .navbar-links{
    margin-right: 35px;
    display: none;
  }

  .navbar-links a{
    font-size: 11px;
  }

  

  .btn-yellow {
    font-size: 12px;
  }

  .btn-white {
    font-size: 12px;
  }

  

   .quote-button{
    display: none;
   }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .content {
    padding: 150px 20px 100px 20px;
    text-align: center;
  }

  .content h2 {
    font-size: 1.8rem;
  }

  .content p {
    font-size: 1rem;
  }

  .btn-yellow, .btn-white {
    padding: 6px 14px;
    font-size: 0.9rem;
  }

  .navbar-links {
    display: none;
  }

  .navbar-logo img {
    height: 35px;
  }

  

  .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
   }

   .navbar-container .navbar-toggler:hover{
    background-color: #000;
   }


}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .content {
    padding: 120px 10px 80px 10px;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .btn-yellow, .btn-white {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  .navbar-logo img {
    height: 30px;
    padding-left: 5px;
  }

  

  /* .navbar-container .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6c774f;
  }

  .navbar-container .navbar-toggler:hover{
    background-color: #000;
   } */


}

@media (max-width: 480px) {

  .content, .owl-content {
    padding: 120px 10px 80px 20px; /* Reduce padding */
  }

  .content h2 {
    font-size: 1.5rem; /* Smaller heading size */
  }

  .content h6, .content p {
    font-size: 14px; /* Smaller text */
  }

  .btn-yellow, .btn-white {
    padding: 8px 15px; /* Adjust button padding */
    font-size: 0.9rem; /* Smaller button text */
  }

  .navbar-container {
   height: auto;

  }

  .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-links {
    flex-direction: column; /* Stack links vertically */
    margin-top: 10px;
  }

  .navbar-links li {
    margin-left: 0;
    margin-bottom: 10px; /* Space between links */
  }
  
  .navbar-container .navbar-toggler{
    margin-top: 0;
  }

  .navbar-toggler {
    display: block; /* Show toggler on smaller screens */
  }

  

  .overlay {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-info {
    font-size: 0.8rem; /* Adjust navbar info text */
    margin-right: 10px;
  }
}


/*ABOUT US*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {

  .installation-section {
    padding: 35px;
  }

  .about-head h2 {
    font-size: 2rem;
  }

  .content-box h2 {
    font-size: 30px;
  }

  .content-box p {
    font-size: 12px;
  }

   
  .info-list {
    font-size: 1rem; /* Adjust font size */
    margin-right: 20px;
  }

  .read-more-btn {
    padding: 8px 16px; /* Adjust padding */
    font-size: 0.9rem; /* Adjust font size */
    
  }

  .contact-info {
    font-size: 1rem;
        margin-top: 18px;
        padding-left: 10px; /* Adjust font size */
    
  }

  .about-para {
    padding-left: 20px;
  }
  .about-heading {
    font-size: 1.8rem;
    text-align: left;
  }
  .about-subheading {
    font-size: 1.1rem;
  }
  .about-text {
    font-size: 0.95rem;
  }

  .read-about {
    padding-top: 80px; /* Adjust padding */
    display: flex;
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {


  .installation-section {
    padding: 30px;
  }

  .about-head h2 {
    font-size: 1.8rem; /* Adjust heading size */
  }


  .aboutSection {
   padding-top: 110px;
 }


  .content-box{
    height: 210px;
  }


.content-box h2 {
    font-size: 30px; /* Adjust font size */
  }

  .content-box p {
    font-size: 12px; /* Adjust font size */
  }

  

  .info-list {
    font-size: 0.9rem; /* Adjust font size */
  }

  .about-para {
    padding-left: 15px;
  }
  .about-heading {
    font-size: 1.7rem;
  }
  .about-subheading {
    font-size: 1rem;
  }
  .about-text {
    font-size: 0.9rem;
  }

  .read-more-btn {
    padding: 6px 14px; /* Adjust padding */
    font-size: 0.8rem; /* Adjust font size */
  }

  .quote-button{
    font-size: 11px;
  }

  .contact-info {
    font-size: 0.9rem; /* Adjust font size */
    margin-top: 15px;
  }

  

  .read-about {
    padding-top: 60px; /* Adjust padding */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {

  .installation-section {
    padding: 25px;
  }

  .about-head p {
    font-size: 0.8rem; /* Adjust font size */
  }

  .about-head h2 {
    font-size: 1.5rem; /* Adjust heading size */
  }

  .content-box h2 {
    font-size: 26px; /* Adjust font size */
  }

  .content-box p {
    font-size: 12px; /* Adjust font size */
  }

  

  .content-box
 {
   height:200px;
 }

 .aboutSection 
 {
   gap:15px;
   padding-top: 75px;
 }
 .imgbox-2 
 {
   gap:15px;
 } 

  .info-list {
    font-size: 0.9rem; /* Adjust font size */
  }

  .about-para {
    padding-left: 10px;
  }
  .about-heading {
    font-size: 1.6rem;
  }
  .about-subheading {
    font-size: 1rem;
  }
  .about-text {
    font-size: 0.875rem;
  }

  .read-more-btn {
    padding: 6px 12px; /* Adjust padding */
    font-size: 0.8rem; /* Adjust font size */
    
  }

  .quote-button{
    display: none;
  }

  .contact-info {
    font-size: 0.7rem; /* Adjust font size */
    padding-left: 10px;
    margin-top: 16px;
  }

  

  .read-about {
    padding-top: 40px; /* Adjust padding */
    padding-left: 15px;
    display: flex;
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {

  .installation-section {
    padding: 20px;
  }

  .aboutSection {
    padding-top: 35px;
}

  .about-head p {
    font-size: 0.7rem; /* Adjust font size */
  }

  .about-head h2 {
    font-size: 1.2rem; /* Adjust heading size */
    margin: 5px 0 25px 0;
  }

  

  .content-box h2 {
    font-size: 25px; /* Adjust font size */
  }

  .content-box p {
    font-size: 11px; /* Adjust font size */
  }

  

  .info-list {
    font-size: 0.8rem; /* Adjust font size */
  }

  .about-para {
    padding-left: 8px;
    margin-top: 30px;
  }
  .about-heading {
    font-size: 1.5rem;
  }
  .about-subheading {
    font-size: 0.95rem;
  }
  .about-text {
    font-size: 0.85rem;
  }

  .read-more-btn {
    padding: 5px 10px; /* Adjust padding */
    font-size: 0.7rem; /* Adjust font size */
    
  }

  .quote-button{
    display: none;
  }

  .contact-info {
    font-size: 0.7rem; /* Adjust font size */
    padding-left: 10px; /* Remove padding */
  }

  

  .read-about {
    padding-top: 20px;
        padding-left: 50px; /* Adjust padding */
  }
}

@media (max-width: 480px) {

  .installation-section {
    padding: 15px;
  }

  .aboutSection 
 {
   padding-top: 30px;
 }

  .about-head p {
    font-size: 0.8rem; /* Adjust font size */
    margin-bottom: 10px; /* Add space at the bottom */
  }

  .about-head h2 {
    font-size: 1.8rem; /* Smaller heading size */
    margin: 5px 0 0px 0;
  }

  

  .content-box{
    height: 180px;
    width: 100px;
  }

  .content-box h2 {
    font-size: 20px; /* Adjust font size */
  }

  .content-box p {
    font-size: 10px; /* Adjust text size */
  }

  

  .info-list {
    font-size: 0.9rem; /* Smaller list item text */
  }

  .info-list li {
    margin-bottom: 15px; /* Adjust spacing */
  }

  .read-more-btn {
    padding: 8px 15px; /* Adjust button padding */
    font-size: 12px; /* Adjust font size */
    margin-bottom: 10px;
    
  }

  .quote-button{
    display: none;
  }

  .contact-info {
    font-size: 12px; /* Smaller text */
    margin-top: 16px;
    
  }

  .about-icon {
    width: 30px; /* Adjust icon size */
    height: 30px;
  }

  .about-para {
    padding-left: 5px;
    margin-top: 30px;
  }
  .about-heading {
    font-size: 1.4rem;
    margin-left: 5px;
  }
  .about-subheading {
    font-size: 0.9rem;
  }
  .about-text {
    font-size: 0.8rem;
  }

  

  .read-about {
    padding-top: 20px; /* Reduce padding */
    padding-left: 15px;
  }
}


/*SERVICES*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .services-section h2 {
    font-size: 32px; /* Adjust heading size */
  }

  .services-section p {
    margin-bottom: 40px; /* Adjust bottom margin */
  }

  .service-box {
    padding: 25px; /* Adjust padding */
  }

  .service-icon {
    font-size: 35px; /* Adjust icon size */
    height: 90px;
    width: 90px;
  }

  .service-title {
    font-size: 18px; /* Adjust title size */
  }

  .service-description {
    font-size: 14px; /* Adjust description size */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .services-section h2 {
    font-size: 28px; /* Adjust heading size */
  }

  .services-section p {
    margin-bottom: 30px; /* Adjust bottom margin */
  }

  .service-box {
    padding: 20px; /* Adjust padding */
  }

  .service-icon {
    font-size: 30px; /* Adjust icon size */
    height: 80px;
    width: 80px;
  }

  .service-title {
    font-size: 16px; /* Adjust title size */
  }

  .service-description {
    font-size: 13px; /* Adjust description size */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .services-section {
    padding: 40px 0; /* Adjust padding */
  }

  .services-section h2 {
    font-size: 24px; /* Adjust heading size */
  }

  .services-section p {
    margin-bottom: 20px; /* Adjust bottom margin */
  }

  .service-box {
    padding: 15px; /* Adjust padding */
  }

  .service-icon {
    font-size: 25px; /* Adjust icon size */
    padding: 13px 0 0 0;
    height: 60px;
    width: 60px;
  }

  .service-title {
    font-size: 14px; /* Adjust title size */
  }

  .service-description {
    font-size: 12px; /* Adjust description size */
  }

  .action-buttons {
    margin-top: 30px; /* Adjust margin */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .services-section {
    padding: 20px 0; /* Adjust padding */
    max-width: 100%;
  }

  .services-section h2 {
    font-size: 20px; /* Adjust heading size */
    text-align: center; /* Center align heading */
  }

  .services-section p {
    margin-bottom: 15px; /* Adjust bottom margin */
    text-align: center; /* Center align paragraph */
    font-size: 12px;
  }

  .service-box {
    padding: 10px; /* Adjust padding */
  }

  .service-icon {
    font-size: 20px; /* Adjust icon size */
    height: 50px;
    width: 50px;
  }

  .service-title {
    font-size: 14px; /* Adjust title size */
  }

  .service-description {
    font-size: 10px; /* Adjust description size */
  }

  .action-buttons {
    margin-top: 20px; /* Adjust margin */
  }
}

@media (max-width: 480px) {
  .services-section {
    padding: 15px 0; /* Reduce padding */
  }

  .services-section h2 {
    font-size: 28px; /* Smaller heading */
  }

  .services-section p {
    margin-bottom: 20px; /* Adjust margin */
  }

  .service-box {
    padding: 20px; /* Reduce padding */
    box-shadow: none; /* Remove shadow on smaller screens */
  }

  .service-icon {
    font-size: 30px; /* Smaller icon */
    height: 80px;
    width: 80px;
    padding: 20px 0px 0 1px; /* Adjust padding */
  }

  .service-title {
    font-size: 18px; /* Smaller title */
  }

  .service-description {
    font-size: 14px; /* Adjust text size */
  }

  .action-buttons {
    margin-top: 20px; /* Reduce margin */
  }
}


/*PRODUCTS*/

/* Up to 1200px */
@media (max-width: 1200px) {
  .pro-title {
    font-size: 36px;
  }
  .product-section {
    padding: 30px 0;
  }
  p.lead {
    font-size: 15px;
  }
  .card-title {
    font-size: 17px;
  }
  .service-card img {
    height: 280px;
  }
  .card-img {
    height: 200px;
  }
  .products-btn {
    margin-top: 30px;
  }
}

/* Up to 992px */
@media (max-width: 992px) {
  .pro-title {
    font-size: 32px;
  }
  .product-section {
    padding: 25px 0;
  }
  p.lead {
    font-size: 14px;
  }
  .card-title {
    font-size: 16px;
  }
  .service-card img {
    height: 250px;
  }
  .card-img {
    height: 180px;
  }
  .products-btn {
    margin-top: 25px;
  }
  .pro-box{
    margin-bottom: 20px;
  }
}

/* Up to 768px */
@media (max-width: 768px) {
  .pro-title {
    font-size: 28px;
  }
  .product-section {
    padding: 20px 0;
  }
  p.lead {
    font-size: 13px;
  }
  .card-title {
    font-size: 15px;
  }
  .service-card img {
    height: 220px;
  }
  .card-img {
    height: 160px;
  }
  .products-btn {
    margin-top: 20px;
  }
  .pro-box{
    margin-bottom: 20px;
  }
}

/* Up to 576px */
@media (max-width: 576px) {
  .pro-title {
    font-size: 24px;
  }
  .product-section {
    padding: 15px 0;
  }
  p.lead {
    font-size: 12px;
  }
  .card-title {
    font-size: 14px;
  }
  .service-card img {
    height: 200px;
  }
  .card-img {
    height: 140px;
  }
  .products-btn {
    margin-top: 15px;
  }
  .pro-box{
    margin-bottom: 20px;
  }
}

/* Up to 480px */
@media (max-width: 480px) {
  .pro-title {
    font-size: 20px;
  }
  .product-section {
    padding: 10px 0;
  }
  p.lead {
    font-size: 11px;
  }
  .card-title {
    font-size: 13px;
  }
  .service-card img {
    height: 180px;
  }
  .card-img {
    height: 120px;
  }
  .products-btn {
    margin-top: 10px;
  }
  
}


/*EXPORTS*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .exports-title {
    font-size: 36px; /* Adjust title size */
  }

  .country-flag {
    height: 160px; /* Adjust flag image height */
  }

  .card-title {
    font-size: 20px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 16px; /* Adjust stats font size */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .exports-title {
    font-size: 32px; /* Adjust title size */
  }

  .country-flag {
    height: 140px; /* Adjust flag image height */
  }

  .card-title {
    font-size: 18px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 15px; /* Adjust stats font size */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .exports-section {
    padding: 50px 0; /* Adjust padding */
  }

  .exports-title {
    font-size: 28px; /* Adjust title size */
  }

  .country-flag {
    height: 120px; /* Adjust flag image height */
  }

  .card-title {
    font-size: 16px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 14px; /* Adjust stats font size */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .exports-section {
    padding: 30px 0; /* Adjust padding */
  }

  .exports-title {
    font-size: 24px; /* Adjust title size */
    text-align: center; /* Center align title */
  }

  .country-flag {
    height: 100px; /* Adjust flag image height */
  }

  .card-body {
    padding: 15px; /* Adjust card body padding */
  }

  .card-title {
    font-size: 14px; /* Adjust card title size */
  }

  .export-stats {
    font-size: 12px; /* Adjust stats font size */
  }
}

@media (max-width: 480px) {

  .exports-section {
    padding: 15px 0; /* Reduce padding */
  }

  .exports-section p.lead{
    font-size: 12px;
  }

  .exports-title {
    font-size: 28px; /* Smaller title */
    margin-bottom: 15px; /* Adjust margin */
  }

  .export-card {
    margin-bottom: 20px; /* Add margin for spacing */
  }

  .country-flag {
    height: 150px; /* Reduce image height */
  }

  .card-body {
    padding: 15px; /* Adjust padding */
  }

  .card-title {
    font-size: 18px; /* Smaller font size */
    margin-bottom: 10px; /* Adjust margin */
  }

  .card-text {
    font-size: 12px; /* Smaller text */
  }

  .export-stats {
    font-size: 16px; /* Adjust font size */
  }
}



/*APPLICATIONS*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .app-head {
    font-size: 36px; /* Adjust heading size */
  }

  .app-sub {
    font-size: 18px; /* Adjust subtitle size */
  }

  .card-img-top {
    height: 200px; /* Adjust image height */
  }

  .card-title {
    font-size: 1.2rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.5rem 1.3rem; /* Adjust button padding */
  }
}

/* Media queries for small laptops (992px and below) */
@media (max-width: 992px) {
  .app-head {
    font-size: 32px; /* Adjust heading size */
  }

  .app-sub {
    font-size: 16px; /* Adjust subtitle size */
  }

  .card-img-top {
    height: 180px; /* Adjust image height */
  }

  .card-title {
    font-size: 1.1rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.5rem 1.2rem; /* Adjust button padding */
  }
}

/* Media queries for tablets (768px and below) */
@media (max-width: 768px) {
  .app-head {
    font-size: 28px; /* Adjust heading size */
  }

  .app-sub {
    font-size: 16px; /* Adjust subtitle size */
  }

  .card-img-top {
    height: 160px; /* Adjust image height */
  }

  .card-title {
    font-size: 1rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.4rem 1rem; /* Adjust button padding */
  }
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  #applications {
    padding: 20px 0; /* Adjust padding */
  }

  .app-head {
    font-size: 24px; /* Adjust heading size */
    text-align: center; /* Center heading */
  }

  .app-sub {
    font-size: 14px; /* Adjust subtitle size */
    text-align: center; /* Center subtitle */
  }

  .card-img-top {
    height: 140px; /* Adjust image height */
  }

  .card-title {
    font-size: 0.9rem; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.3rem 0.8rem; /* Adjust button padding */
  }
}

@media (max-width: 480px) {
  #applications {
    padding: 20px; /* Add padding for small screens */
  }

  .app-head {
    font-size: 28px; /* Smaller font size for heading */
  }

  .app-sub {
    font-size: 16px; /* Adjust font size */
  }

  .service-card {
    margin-bottom: 20px; /* Add margin between cards */
  }

  .card-img-top {
    height: 180px; /* Reduce image height */
  }

  .card-title {
    font-size: 18px; /* Adjust title size */
  }

  .btn-outline-light {
    padding: 0.4rem 1rem; /* Adjust button padding */
    font-size: 14px; /* Adjust button font size */
  }

  .app-des{
    font-size: 12px;
  }
}



/*INFRASTRUCTURE*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .timeline-title h2 {
    font-size: 2.2rem; /* Reduce title size */
  }

  
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .timeline-title h2 {
    font-size: 2rem; /* Reduce title size */
  }

  
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .timeline-title h2 {
    font-size: 1.8rem; /* Reduce title size */
  }

  
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .timeline-title h2 {
    font-size: 1.5rem; /* Adjust title size for mobile */
    text-align: center; /* Center-align title */
  }

  
}

@media (max-width: 480px) {
  .timeline-section {
    padding: 30px 0; /* Reduce padding */
  }

  .timeline-title h2 {
    font-size: 28px; /* Adjust font size for the title */
  }

  .timeline-title p {
    font-size: 12px;
  }

  .timeline-section .description{
    font-size: 12px;
  }

  
}


/*QUALITY*/

/* For screens up to 1200px */
@media (max-width: 1200px) {
  .quality-section {
    padding: 35px 0;
  }
  .quality-section .section-title {
    font-size: 2.3rem;
  }
  .quality-section .section-description {
    font-size: 1rem;
  }
  .quality-section .card-title {
    font-size: 1.2rem;
  }
  .quality-section .card-img-top {
    height: 180px;
  }
}

/* For screens up to 992px */
@media (max-width: 992px) {
  .quality-section {
    padding: 30px 0;
  }
  .quality-section .section-title {
    font-size: 2.1rem;
  }
  .quality-section .section-description {
    font-size: 0.95rem;
  }
  .quality-section .card-title {
    font-size: 1.1rem;
  }
  .quality-section .card-img-top {
    height: 160px;
  }
}

/* For screens up to 768px */
@media (max-width: 768px) {
  .quality-section {
    padding: 25px 0;
  }
  .quality-section .section-title {
    font-size: 1.9rem;
  }
  .quality-section .section-description {
    font-size: 0.9rem;
  }
  .quality-section .card-title {
    font-size: 1rem;
  }
  .quality-section .card-img-top {
    height: 140px;
  }
}

/* For screens up to 576px */
@media (max-width: 576px) {
  .quality-section {
    padding: 20px 0;
  }
  .quality-section .section-title {
    font-size: 1.7rem;
  }
  .quality-section .section-description {
    font-size: 0.85rem;
  }
  .quality-section .card-title {
    font-size: 0.9rem;
  }
  .quality-section .card-img-top {
    height: 120px;
  }
}

/* For screens up to 480px */
@media (max-width: 480px) {
  .quality-section {
    padding: 15px 0;
  }
  .quality-section .section-title {
    font-size: 28px;
  }
  .quality-section .section-description {
    font-size: 12px;
  }
  .quality-section .card-title {
    font-size: 18px;
  }
  .quality-section .card-img-top {
    height: 250px;
  }
}




/*CONTACT US*/

/* Media queries for large screens (1200px and below) */
/* @media (max-width: 1200px) {
  .contact-section h2 {
    font-size: 36px; 
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.4rem; 
  }

  .contact-frame {
    padding-top: 50px; 
  }
} */

/* Media queries for tablets (992px and below) */
/* @media (max-width: 992px) {
  .contact-section h2 {
    font-size: 32px; 
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.3rem; 
  }

  .contact-frame {
    padding-top: 40px; 
  }

  .con {
    padding-left: 20px; 
  }

  .service-card-contact,
  .why-best-card {
    padding: 25px; 
  }
} */

/* Media queries for small tablets (768px and below) */
/* @media (max-width: 768px) {
  .contact-section h2 {
    font-size: 28px; 
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.2rem; 
  }

  .service-card-contact p,
  .why-best-card p {
    font-size: 0.9rem; 
  }

  .con {
    padding-top: 20px; 
  }

  .contact-frame {
    padding-top: 30px; 
  }

  .service-card-contact,
  .why-best-card {
    padding: 20px; 
  }
} */

/* Media queries for mobile screens (576px and below) */
/* @media (max-width: 576px) {
  .contact-section h2 {
    font-size: 24px; 
    text-align: center; 
  }

  .contact-section p{
    text-align: center;
  }

  .service-card-contact h5,
  .why-best-card h5 {
    font-size: 1.1rem; 
    text-align: center; 
  }

  .service-card-contact p,
  .why-best-card p {
    font-size: 0.85rem; 
  }

  .service-card-contact {
    margin-bottom: 20px; 
  }

  .con {
    padding-left: 10px; 
  }

  .contact-frame {
    padding-top: 20px; 
  }

  .service-card-contact,
  .why-best-card {
    padding: 15px; 
  }
} */

/* @media (max-width: 480px) {
  .contact-section {
    padding: 30px 0; 
  }

  .contact-section h2 {
    font-size: 28px; 
  }

  .con {
    padding-left: 15px; 
  }

  .contact-section .quote-box {
    padding: 20px; 
  }

  .service-card-contact {
    border-radius: 10px; 
    padding: 20px; 
  }

  .service-card-contact h5 {
    font-size: 1.2rem; 
  }

  .service-card-contact p {
    font-size: 0.9rem; 
  }

  .why-best-card {
    padding: 20px; 
    border-radius: 10px; 
  }

  .why-best-card h5 {
    font-size: 1.2rem; 
  }

  .why-best-card p {
    font-size: 0.9rem; 
  }

  .contact-frame {
    padding-top: 30px; 
  }

  .icon {
    padding: 10px; 
  }

  .c-icon {
    padding-right: 0; 
  }
} */

/* OUR CLIENTELE */

/* For screens up to 1200px */
@media (max-width: 1200px) {
  .clients-section {
    padding: 35px 0;
  }
  .section-title {
    font-size: 28px;
  }
  .section-subtitle {
    font-size: 16px;
  }
  .clients-slider {
    justify-content: space-between;
  }
  .slide {
    min-width: 180px;
  }
  .slide img {
    max-width: 90px;
  }
}

/* For screens up to 992px */
@media (max-width: 992px) {
  .clients-section {
    padding: 30px 0;
  }
  .section-title {
    font-size: 26px;
  }
  .section-subtitle {
    font-size: 15px;
  }
  .clients-slider {
    justify-content: space-around;
  }
  .slide {
    min-width: 160px;
  }
  .slide img {
    max-width: 80px;
  }
}

/* For screens up to 768px */
@media (max-width: 768px) {
  .clients-section {
    padding: 25px 0;
  }
  .section-title {
    font-size: 24px;
  }
  .section-subtitle {
    font-size: 14px;
  }
  .clients-slider {
    align-items: center;
  }
  .slide {
    min-width: 140px;
    margin-bottom: 15px;
  }
  .slide img {
    max-width: 70px;
  }
}

/* For screens up to 576px */
@media (max-width: 576px) {
  .clients-section {
    padding: 20px 0;
  }
  .section-title {
    font-size: 22px;
  }
  .section-subtitle {
    font-size: 13px;
  }
  .slide {
    min-width: 120px;
  }
  .slide img {
    max-width: 60px;
  }
}

/* For screens up to 480px */
@media (max-width: 480px) {
  .clients-section {
    padding: 15px 0;
  }
  .section-title {
    font-size: 28px;
  }
  .section-subtitle {
    font-size: 12px;
  }
  .slide {
    min-width: 100px;
  }
  .slide img {
    max-width: 50px;
  }
}



/*FOOTER*/

/* Media queries for large screens (1200px and below) */
@media (max-width: 1200px) {
  .footer p {
    font-size: 13px; /* Slightly reduce paragraph text size */
  }

  .footer h5 {
    margin-bottom: 15px; /* Reduce margin for headings */
  }

  .footer .store-icon {
    width: 100px; /* Reduce store icon size */
  }

  .footer .fas {
    font-size: 15px;
        padding: 5px 0 0 5px;
  }

  .powered-by {
    padding-left: 75px;
  }
  .copyright {
    padding-right: 75px;
  }

  .ic{
    padding: 5px 0 0 5px;
    font-size: 14px;
  }

  
}

/* Media queries for tablets (992px and below) */
@media (max-width: 992px) {
  .footer p {
    font-size: 12px; /* Further reduce paragraph text size */
  }

  .footer .store-icon {
    width: 90px; /* Adjust store icon size for tablets */
  }

  .footer h5 {
    font-size: 16px; /* Adjust heading font size */
  }

  .footer-logo {
    width: 90px; /* Reduce logo size */
  }

  .footer .fas {
    font-size: 14px;
    padding-right: 3px;
  }

  .powered-by {
    padding-left: 55px;
  }
  .copyright {
    padding-right: 55px;
  }

  
}

/* Media queries for small tablets (768px and below) */
@media (max-width: 768px) {
  .footer p {
    font-size: 13px; /* Reduce paragraph text size for small tablets */
    text-align: center;
  }

  .list-unstyled{
    text-align: center;
    font-size: 14px;
  }

  .footer-div{
    margin-left: 35px;
    margin-bottom: 10px;

  }

  .footer h5 {
    font-size: 15px; /* Reduce heading size for smaller screens */
    margin-bottom: 10px; /* Adjust spacing */
    text-align: center;
  }

  .footer-logo {
    width: 80px; /* Further reduce logo size */
  }

  .footer .store-icon {
    width: 80px; /* Adjust store icon size */
    margin: 5px 3px; /* Adjust margins for spacing */
  }

  .footer .fas {
    font-size: 14px;
    padding: 5px 1px 0 0px;
  }

  .powered-by {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }
  .copyright {
    text-align: center;
    padding-right: 0;
    margin-right: 0;
  }

  

  
}

/* Media queries for mobile screens (576px and below) */
@media (max-width: 576px) {
  .footer h5 {
    font-size: 14px; /* Reduce heading size for mobile */
    text-align: center; /* Center the headings */
  }

  .list-unstyled{
    text-align: center;
  }

  .footer-div{
    margin:0;
  }

  .footer a {
    padding-top: 5px;
  }

  .footer p {
    font-size: 14px; /* Further reduce paragraph text size */
    text-align: center; /* Center paragraph text */
  }

  .footer-logo {
    width: 70px; /* Adjust logo size for mobile */
    display: block; /* Ensure the logo is centered */
    margin: 0 auto 10px auto; /* Center the logo */
  }

  .footer .store-icon {
    width: 70px; /* Reduce store icon size for mobile */
    display: block;
    margin: 5px auto; /* Center the store icons */
  }

  .footer .fas {
    font-size: 14px;
    
  }

  .powered-by, .copyright {
    text-align: center;
    padding: 0;
  }

}


@media (max-width: 480px) {
  .footer h5 {
    font-size: 18px; /* Reduce heading size */
    margin-bottom: 15px; /* Adjust margin */
    text-align: left;
  }

  .footer-logo {
    width: 130px; /* Decrease logo size */
    display: inline;
  }

  .footer p {
    font-size: 14px; /* Decrease paragraph font size */
    line-height: 1.4; /* Adjust line height */
    text-align: left;
  }

  .a-tag{
    text-align: left;
  }

  .footer .store-icon {
    width: 80px; /* Reduce store icon size */

  }

  .footer-bottom {
    padding-top: 15px; /* Adjust padding */
    display: flex;
    flex-flow: column-reverse;
  }

  .footer .fas {
    font-size: 14px;
    padding: 5px 0 0 5px;
  }

  .powered-by{
    text-align: center !important;
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    
  }

  .copyright{
    text-align: center !important;
    font-size: 10px !important;
     margin-bottom: 5px; 
     
    padding: 0;
  }

  .btn-paper {
    padding: 8px 12px; /* Adjust button padding */
    font-size: 0.9rem; /* Adjust button font size */
  }

  .footer .fa-paper-plane {
    font-size: 1rem; /* Reduce icon size */
  }

  .footer-div{
    margin-left: 0;
  }

  .ic{
    padding: 5px 0 0 4px !important;
  }

  

}








